{% extends "../base.html" %}
{% load admin_utils %}

{% block content_header %}
<ul class="paas-breadcrumb">
    <li class="active">{{ view.name }}</li>
</ul>
{% endblock %}

{% block content_label %}
<div id="statistics-tab-root">
    <bk-tab
        :active.sync="activeTab"
        type="unborder-card"
        @tab-change="handleTabChange"
    >
        <bk-tab-panel name="mgrlegacy" label="应用迁移进展"></bk-tab-panel>
        <bk-tab-panel name="apps" label="应用部署统计"></bk-tab-panel>
        <bk-tab-panel name="developers" label="开发者部署统计"></bk-tab-panel>
    </bk-tab>
</div>
{% endblock %}


{% block main_content %}

{% block statistics_content %}
{% endblock %}

{% endblock %} 

{% block main_script %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        new Vue({
            el: '#statistics-tab-root',
            delimiters: ['$[', ']'],
            data: function () {
                let activeTab = 'mgrlegacy';
                if (window.location.pathname.includes('deploy.apps')) {
                    activeTab = 'apps';
                } else if (window.location.pathname.includes('deploy.developers')) {
                    activeTab = 'developers';
                }
                return {
                    activeTab,
                };
            },
            methods: {
                handleTabChange(name) {
                    if (name === 'mgrlegacy') {
                        this.gotoTab(
                            '{% url "admin.operation.mgrlegacy.progress" %}'
                        );
                    } else if (name === 'apps') {
                        this.gotoTab(
                            '{% url "admin.operation.statistics.deploy.apps" %}'
                        );
                    } else if (name === 'developers') {
                        this.gotoTab(
                            '{% url "admin.operation.statistics.deploy.developers" %}'
                        );
                    }
                },
                gotoTab(url) {
                    if (window.location.pathname !== url) {
                        window.location.href = url;
                    }
                },
            },
        });
    });
</script>
{% block statistics_script %}
{% endblock %}
{% endblock %}
