{% extends "../base_with_nav.html" %}
{% load admin_utils %}

{% block content_header %}
<ul class="paas-breadcrumb">
    <li><a href="{% url 'admin.front_page' %}">首页</a></li>
    <li><a href="{% url 'admin.platform.index' %}">平台管理</a></li>
    <li class="active">{{ view.name }}</li>
</ul>
{% endblock %}

{% block nav_list %}
<script>
    var navList = [
        {
            name: "应用列表",
            icon: 'icon-tree-module-shape',
            url: "{% url 'admin.applications.list' %}"
        },
        {
            name: "应用运营评估",
            icon: 'icon-tree-module-shape',
            url: "{% url 'admin.applications.operation_evaluation.list' %}"
        },
        {
            name: "部署概览",
            icon: 'icon-tree-module-shape',
            url: "{% url 'admin.deployments.list' %}"
        },
        {
            name: '运行时管理',
            icon: 'icon-tree-module-shape',
            url: "{% url 'admin.runtimes.buildpack.manage' %}",
            children: [
                {
                    name: 'BuildPack 管理',
                    url: '{% url "admin.runtimes.buildpack.manage" %}'
                },
                {
                    name: 'SlugBuilder 管理',
                    url: '{% url "admin.runtimes.slugbuilder.manage" %}'
                },
                {
                    name: 'SlugRunner 管理',
                    url: '{% url "admin.runtimes.slugrunner.manage" %}'
                },
            ]
        },
        {
            name: '智能顾问',
            icon: 'icon-tree-module-shape',
            url: "{% url 'admin.smart_advisor.documents.manage' %}",
            children: [
                {
                    name: '文档管理',
                    url: '{% url "admin.smart_advisor.documents.manage" %}'
                },
                {
                    name: '失败提示管理',
                    url: '{% url "admin.smart_advisor.deploy_failure_tips.manage" %}'
                }
            ]
        },
        {
            name: '应用资源方案',
            icon: 'icon-tree-module-shape',
            url: '{% url "admin.process_spec_plan.manage" %}',
            children: [
                {
                    name: '方案列表',
                    url: '{% url "admin.process_spec_plan.manage" %}'
                },
                {
                    name: '方案配置',
                    url: '{% url "admin.process_spec_plan.applications.manage" %}'
                }
            ]
        },
        {
            name: '共享证书管理',
            icon: 'icon-tree-module-shape',
            url: "{% url 'admin.shared.certs.manage' %}"
        }
    ]
</script>
{% endblock %}
