{% extends "admin42/platformmgr/base.html" %}
{% load admin_utils %}
{% block main_content %}
<div id="platform-source-type-spec-list" class="p20">
    <bk-button theme="primary" class="mb20" @click="handleCreate">
        新建
    </bk-button>

    <bk-button class="ml10 mb20" @click="handleShowBuiltinEnv">
    显示内置环境变量
    </bk-button>

    <bk-table :data="data">
        <bk-table-column label="Key" prop="key" width="500" :formatter="addPrefix" show-overflow-tooltip="true"></bk-table-column>
        <bk-table-column label="Value" prop="value" width="500" show-overflow-tooltip="true"></bk-table-column>
        <bk-table-column label="描述" prop="description" width="500" show-overflow-tooltip="true"></bk-table-column>
        <bk-table-column label="更新时间" prop="updated" width="250" show-overflow-tooltip="true"></bk-table-column>
        <bk-table-column label="更新者" prop="updater" width="200" show-overflow-tooltip="true"></bk-table-column>
        <bk-table-column label="操作" width="200">
            <template slot-scope="props">
                <bk-button class="ml5" theme="primary" text @click="handleEdit(props.row)">编辑</bk-button>
                <bk-button class="ml5" theme="danger" text @click="handleDelete(props.row)">删除</bk-button>
            </template>
        </bk-table-column>
    </bk-table>

    <!-- 创建/编辑环境变量用弹窗 -->
    <bk-dialog
        v-model="dialog.visible"
        header-position="left"
        width="800"
        :confirm-fn="submitDialog"
        @cancel="cancelDialog"
        :mask-close="false"
    >
        <div slot="header">$[ dialog.type === 'create'?'添加':'编辑' ]环境变量</div>
        <bk-form :label-width="140" :model="dialog.form" :rules="rules">
            <bk-form-item label="Key" property="key">
                <bk-input v-model="dialog.form.key" :disabled="dialog.type !== 'create'" placeholder="请输入key">
                    <template slot="prepend">
                        <div class="group-text">{{system_prefix}}</div>
                    </template>
                </bk-input>
            </bk-form-item>
            <bk-form-item label="Value" property="value">
                <bk-input v-model="dialog.form.value" placeholder="请输入变量名"></bk-input>
            </bk-form-item>
            <bk-form-item label="描述">
                <bk-input v-model="dialog.form.description" placeholder="请输入描述"></bk-input>
            </bk-form-item>
        </bk-form>
    </bk-dialog>

    <!-- 删除确认提示 -->
    <bk-dialog
        v-model="deleteConfirm.visible"
        header-position="left"
        width="400"
        :confirm-fn="deleteRow"
        @cancel="cancelDelete"
        :mask-close="false"
    >
        <div slot="header">删除确认</div>
        <p>确定要删除吗？</p>
    </bk-dialog>

    <!-- 显示默认内置环境变量弹窗 -->
    <bk-dialog
        v-model="builtinEnvDialog.visible"
        header-position="left"
        width="1000"
        @cancel="cancelBuiltinEnvDialog"
        :mask-close="false"
    >
        <template v-for="tag in regions">
            <bk-tag
                type="stroke"
                checkable
                :checked="selectedRegion === tag"
                :key="tag"
                @change="checked => changeRegion(checked, tag)">
            $[tag]
            </bk-tag>
        </template>
        <div slot="header">内置环境变量</div>
        <bk-table :data="builtinEnvData" class="mt10">
                <bk-table-column label="变量" prop="label" width="500" show-overflow-tooltip="true"></bk-table-column>
                <bk-table-column label="描述" prop="description" width="400" show-overflow-tooltip="true"></bk-table-column>
        </bk-table>
    </bk-dialog>
</div>
{% endblock %}

{% block main_script %}
<script>
const system_prefix = {{ system_prefix | to_json }}
const regions = {{ regions | to_json }}
const URLRouter = {
    create: decodeURI("{% url 'admin.builtin_config_var' %}"),
    list: decodeURI("{% url 'admin.builtin_config_var' %}"),
    detail: decodeURI("{% url 'admin.builtin_config_var.detail' '${id}' %}"),
}

document.addEventListener('DOMContentLoaded', () => {
    new Vue({
        el: "#platform-source-type-spec-list",
        delimiters: ['$[', ']'],
        data: function () {
            return {
                data: [],
                dialog: {
                    visible: false,
                    type: '',
                    form: {
                        key: '',
                        value: '',
                        description: '',
                    },
                    row: undefined
                },
                deleteConfirm: {
                    visible: false,
                    row: undefined
                },
                rules: {
                    key: [
                        {
                            required: true,
                            message: '必填项',
                            trigger: 'blur'
                        },
                    ],
                    value: [
                        {
                            required: true,
                            message: '必填项',
                            trigger: 'blur'
                        },
                    ],
                },
                builtinEnvDialog: {
                    visible: false
                },
                builtinEnvData: [],
                regions: regions,
                // 默认选择第一个 region
                selectedRegion: regions && regions.length > 0 ? regions[0] : '',
            }
        },
        watch: {
            // 当 selectedRegion 改变时，调用 fetchBuiltinEnvData 函数
            selectedRegion: 'fetchBuiltinEnvData'
        },
        methods: {
            fetchBuiltinEnvList: async function () {
                const el = this.$bkLoading({title: '加载中'})
                try {
                    await this.$http.get(URLRouter.list).then(res => {
                        this.data = res
                    })
                } finally {
                    el.hide = true
                }
            },
            cancelDialog: function () {
                this.dialog.visible = false
            },
            submitDialog: async function () {
                const url = this.dialog.type === 'create' ? URLRouter.create : this.fillUrlTemplate(URLRouter.detail, {row: this.dialog.row});
                let success = true;
                const method = this.dialog.type === 'create' ? 'post' : 'put';
                try {
                    await this.$http[method](url, this.dialog.form);
                } catch (e) {
                    success = false;
                    if (e.response.status === 400) {
                        this.$bkMessage({
                            theme: 'error',
                            message: e.response.data.detail,
                        })
                    }
                }
                if(success) {
                    this.cancelDialog();
                    this.fetchBuiltinEnvList();
                }

            },
            handleCreate: function () {
                this.dialog.type = "create"
                this.dialog.row = undefined
                this.dialog.form = {
                    key: '',
                    value: '',
                    description: '',
                }
                this.dialog.visible = true
            },
            handleEdit: function (row) {
                this.dialog.type = "edit"
                this.dialog.row = row
                this.dialog.form = { ...row }
                this.dialog.visible = true
            },
            handleDelete: function (row) {
                this.deleteConfirm.row = row
                this.deleteConfirm.visible = true
            },
            deleteRow: async function () {
                const url = this.fillUrlTemplate(URLRouter.detail, {row: this.deleteConfirm.row});
                await this.$http.delete(url);

                const index = this.data.findIndex(item => item.key === this.deleteConfirm.row.key);
                if (index !== -1) {
                    this.data.splice(index, 1);
                }

                this.deleteConfirm.visible = false
            },
            cancelDelete: function () {
                this.deleteConfirm.visible = false
            },
            fillUrlTemplate: function (url_template, {row}) {
                if (!row) {
                    row = {}
                }
                return url_template.replace("${id}", row.id)
            },
            addPrefix: function(row, column, cellValue, index) {
                return system_prefix + cellValue
            },
            handleShowBuiltinEnv: function () {
                this.builtinEnvDialog.visible = true;
                this.fetchBuiltinEnvData();
            },
            cancelBuiltinEnvDialog: function () {
                this.builtinEnvDialog.visible = false;
            },
            fetchBuiltinEnvData: async function () {
                const baseURL = decodeURI("{% url 'admin.builtin_config_var.builtin' %}");
                const url = `${baseURL}?region=${encodeURIComponent(this.selectedRegion)}`;
                const el = this.$bkLoading({title: '加载中'})
                try {
                    const res = await this.$http.get(url);
                    this.convertArray(res);
                    console.log(this.regions);
                } catch (e) {
                    this.$bkMessage({
                        theme: 'error',
                        message: e.response.data.detail
                    });
                }
                finally {
                    el.hide = true;
                }
            },
            convertArray: function (data) {
                const list = Object.keys(data).reduce((p, key) => {
                    if (typeof data[key] === 'string') {
                        p.push({
                            label: key,
                            description: data[key],
                        });
                    } else if (typeof data[key] === 'object' && data[key] !== null) {
                        p.push({
                            label: `${key}=${data[key].value}`,
                            description: data[key].description,
                        });
                    }
                    return p;
                }, []);
                this.builtinEnvData = list;
            },
            changeRegion: function (checked, region) {
                if(checked) {
                    this.selectedRegion = region;
                    console.log(this.selectedRegion, checked, region);
                }
            }
        },
        mounted: function () {
            this.fetchBuiltinEnvList()
        },
    })
})
</script>
{% endblock %}
