{% extends "admin42/platformmgr/base.html" %}
{% load admin_utils %}
{% block main_content %}
<div id="platform-operator-list" style="width: 100%;" class="p20">
    <b>默认部署集群</b>: $[ cnativeDefaultCluster ]
    <bk-table :data="data" style="margin-top: 20px;">
        <bk-table-column label="集群名称" prop="cluster_name" align="center"></bk-table-column>
        <bk-table-column label="集群 ID" min-width="100" align="center">
            <template slot-scope="props">
                <span v-if="props.row.cluster_id">$[ props.row.cluster_id ]</span>
                <span v-else>--</span>
            </template>
        </bk-table-column>
        <bk-table-column label="命名空间" width="80" align="center">
            <template slot-scope="props">
                <bk-tag v-if="props.row.namespace" theme="success"> ✔ </bk-tag>
                <bk-tag v-else> ✘ </bk-tag>
            </template>
        </bk-table-column>
        <bk-table-column label="Controller" align="center">
            <template slot-scope="props">
                <span v-if="!props.row.namespace || !props.row.controller.replicas">
                    --
                </span>
                <bk-tag v-else-if="props.row.controller.readyReplicas === props.row.controller.replicas" theme="success">
                    ✔ $[ props.row.controller.readyReplicas ] / $[ props.row.controller.replicas ]
                </bk-tag>
                <bk-tag v-else-if="props.row.controller.readyReplicas !== 0" theme="warning">
                    ❗$[ props.row.controller.readyReplicas ] / $[ props.row.controller.replicas ]
                </bk-tag>
                <bk-tag v-else theme="danger">
                    ✘ $[ props.row.controller.readyReplicas ] / $[ props.row.controller.replicas ]
                </bk-tag>
            </template>
        </bk-table-column>
        <bk-table-column label="CRD" min-width="260" align="center">
            <template slot-scope="props">
                <div v-for="(exists, crdKind, idx) in props.row.crds" style="display: inline">
                    <bk-tag v-if="exists" theme="success">✔ $[ crdKind ]</bk-tag>
                    <bk-tag v-else theme="danger">✘ $[ crdKind ]</bk-tag>
                </div>
            </template>
        </bk-table-column>
        <bk-table-column label="BkApp (ready / total)" align="center">
            <template slot-scope="props">
                <span
                  v-if="props.row.BkApp.ready_cnt || props.row.BkApp.total_cnt"
                  v-bk-tooltips="{content: 'Not Ready BkApps: ' + props.row.BkApp.not_ready_bkapps }"
                >$[ props.row.BkApp.ready_cnt ] / $[ props.row.BkApp.total_cnt ]</span>
                <span v-else>--</span>
            </template>
        </bk-table-column>
        <bk-table-column label="DomainGroupMapping" align="center">
            <template slot-scope="props">
                <span v-if="props.row.DomainGroupMapping.total_cnt">$[ props.row.DomainGroupMapping.total_cnt ]</span>
                <span v-else>--</span>
            </template>
        </bk-table-column>
    </bk-table>
</div>

{% endblock %}


{% block main_script %}
<script>
    const cnativeDefaultCluster = {{ cnative_default_cluster | to_json }}

    const URLRouter = {
        list: decodeURI("{% url 'workloads.proxy' 'admin42/platform/clusters/operator/' %}"),
    }

    document.addEventListener('DOMContentLoaded', () => {
        new Vue({
            el: "#platform-operator-list",
            delimiters: ['$[', ']'],
            mixins: [SubmitMixin],
            data: function() {
                return {
                    cnativeDefaultCluster: cnativeDefaultCluster,
                    data: [],
                }
            },
            mounted: function () {
                this.fetchClusterOperatorInfo()
            },
            methods: {
                processData: function(data) {
                    return new Promise(resolve => {
                        resolve(data)
                    })
                },
                fetchClusterOperatorInfo: async function () {
                    const el = this.$bkLoading({title: '加载中'})
                    try {
                        await this.$http.get(URLRouter['list']).then(res => {
                            this.data = res
                        })
                    } finally {
                        el.hide = true
                    }
                },
                handleRequestError: function (res) {
                    console.error(res)
                }
            },
        })
    })
</script>

{% endblock %}
