{% extends "./base.html" %}

{% load admin_utils %}
{% block main_content %}

<div id="legacy-application-list" style="width: 100%;" class="p20">
    <div>
        <div class="mb15 fr">
            <bk-checkbox-group v-model="filters" @change="handleFilter">
                <bk-checkbox :value="v" v-for="(k, v) of filterKeys" class="mr30">$[ k.description ]</bk-checkbox>
            </bk-checkbox-group>
        </div>
    </div>
    <bk-table
        :data="data"
        >
        <bk-table-column width="45" align="center">
            <template slot-scope="props">
                <img :src="props.row.logo_url" width="30"/>
            </template>
        </bk-table-column>
        <bk-table-column label="应用id">
            <template slot-scope="props">
                <a class="cell">$[props.row.code] </a>
            </template>
        </bk-table-column>
        <bk-table-column label="应用名称" prop="name"></bk-table-column>
        <bk-table-column label="版本" prop="region"></bk-table-column>
        <bk-table-column label="创建时间" prop="created">
            <template slot-scope="props">
                <span v-bk-tooltips="{content: props.row.created }">$[props.row.created_humanized] </span>
            </template>
        </bk-table-column>
        <bk-table-column label="应用状态" prop="state"></bk-table-column>
        <bk-table-column label="开发语言" prop="language"></bk-table-column>
        <bk-table-column label="创建人" prop="creator"></bk-table-column>
        <bk-table-column label="迁移状态" prop="migrate_status">
            <template slot-scope="props">
                <span v-bk-tooltips="{content: props.row.reason, placements: ['right'] }" v-if="props.row.reason.length !== 0">$[props.row.migrate_status] <i class="bk-icon icon-info-circle-shape"></i></span>
                <span v-else>$[props.row.migrate_status]</span>
            </template>
        </bk-table-column>
        <bk-table-column label="是否V1 PaaS应用" prop="is_from_legacy_v1">
            <template slot-scope="props">
                <span style="color: #ea3636;" v-if="props.row.is_from_legacy_v1">是</span>
                <span v-else>否</span>
            </template>
        </bk-table-column>
        <bk-table-column label="迁移标签" prop="tag"></bk-table-column>
    </bk-table>
    <pagination
        class="mt15"
        :current.sync="pagination.curPage"
        :limit="pagination.limit"
        :count="pagination.count"
        :align="'right'"
    />
</div>
{% endblock %}

{% block main_script %}
<script>
const pagination = {{ pagination | to_json }}
const data = {{ legacy_app_list | to_json }}
// 过滤参数
let filterKeys = {
        'only_include_legacy_v1_app': {
            'description': '仅包括V1 PaaS应用',
            'status': {{ only_include_legacy_v1_app | to_json }}
        },
        'only_include_not_migrated_app': {
            'description': '仅包括未迁移应用',
            'status': {{ only_include_not_migrated_app | to_json }}
        },
        'include_downed_app': {
            'description': '包括已下架应用',
            'status': {{ include_downed_app | to_json }}
        },
}
let filters = []
Object.keys(filterKeys).forEach(key => {
    try {
        let value = filterKeys[key]['status']
        if (value.length === 1 && value[0] !== "0"){
            filters.push(key)
        }
    }catch (e) {

    }
})

document.addEventListener('DOMContentLoaded', () => {
    new Vue({
        el: "#legacy-application-list",
        delimiters: ['$[', ']'],
        data: function () {
            return {
                data,
                pagination,
                filters,
                filterKeys,
                active: undefined,
                SEARCH_PARAM: 'search_term',
                searchKey: undefined,
            }
        },
        methods: {
            searchApp() {
                let query = {
                    [this.SEARCH_PARAM]: this.searchKey, offset:0
                }
                this.goto(query)
            },
            handleFilter (cur) {
                let query = {}
                Object.keys(filterKeys).forEach(key => {
                    if (cur.indexOf(key) === -1) {
                        query[key] = 0
                    } else {
                        query[key] = 1
                    }
                })
                this.goto(query)
            },
            goto(query = {}) {
                let prefix = window.location.href

                if (prefix.indexOf("?") > 0) {
                    query = {...querystring.parse(prefix.substr(prefix.indexOf("?") + 1)), ...query}
                    prefix = prefix.substr(0, prefix.indexOf("?"))
                }
                query = querystring.stringify(query)
                window.location.href = `${prefix}?${query}`
            }
        },
    })

})
</script>

{% endblock %}
