[unix_http_server]
file = {{ .RootDir }}/supervisord.sock

[supervisorctl]
configuration = {{ .RootDir }}/dev.conf
serverurl = unix://{{ .RootDir }}/supervisord.sock

[supervisord]
pidfile = {{ .RootDir }}/supervisord.pid
logfile = {{ .RootDir }}/log/supervisor.log

[rpcinterface:supervisor]
supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

{{ range .Processes}}
[program: {{ .ProcType }}]
command = {{ .Command }}}
stdout_logfile = {{ .ProcLogFile }}
redirect_stderr = true
{{ end }}