{% extends "./base_with_nav.html" %}

{% load admin_utils %}

{% block content_header %}
<ul class="paas-breadcrumb">
    <li class="active">{{ view.name }}</li>
</ul>
{% endblock %} 

{% block nav_list %}
<script>
    var navList = [
        {% get_user_site_perms as perm %}

        {% if perm.manage_platform %}
        {
            name: '配置管理',
            children: [
                {
                    name: '运行时管理',
                    icon: 'icon-block-shape',
                    url: '{% url "admin.runtimes.buildpack.manage" %}',
                    children: [
                        {
                            name: 'BuildPack 管理',
                            url: '{% url "admin.runtimes.buildpack.manage" %}',
                        },
                        {
                            name: 'SlugBuilder 管理',
                            url: '{% url "admin.runtimes.slugbuilder.manage" %}',
                        },
                        {
                            name: 'SlugRunner 管理',
                            url: '{% url "admin.runtimes.slugrunner.manage" %}',
                        },
                    ],
                },
                {
                    name: '应用资源方案',
                    icon: 'icon-block-shape',
                    url: '{% url "admin.process_spec_plan.manage" %}',
                },
                {
                    name: '智能顾问',
                    icon: 'icon-block-shape',
                    url: "{% url 'admin.smart_advisor.documents.manage' %}",
                },
                {
                    name: '共享证书管理',
                    icon: 'icon-block-shape',
                    url: "{% url 'admin.shared.certs.manage' %}",
                },
                {% if perm.manage_app_templates %}
                    {
                        name: '仪表盘模板配置',
                        icon: 'icon-block-shape',
                        url: "{% url 'admin.configuration.dashboard_tmpl.manage' %}",
                    },
                    {
                        name: '插件配置',
                        icon: 'icon-block-shape',
                        url: "{% url 'admin.configuration.bk_plugins.tags.manage' %}",
                    },
                {% endif %}
            ],
        },
        {
            name: '运营管理',
            children: [
                {
                    name: '应用运营评估',
                    icon: 'icon-block-shape',
                    url: "{% url 'admin.applications.operation_evaluation.list' %}",
                },
                {
                    name: '部署概览',
                    icon: 'icon-block-shape',
                    url: "{% url 'admin.deployments.list' %}",
                },
                {% if perm.operate_platform %}
                    {% url 'admin.operation.index' as operation_index_view %}
                    {% if operation_index_view %}
                    {
                        name: '应用统计',
                        icon: 'icon-block-shape',
                        url: "{% url 'admin.operation.statistics.deploy.apps' %}",
                    },
                    {% endif %}
                {% endif %}
                {
                    name: '应用列表',
                    icon: 'icon-block-shape',
                    url: "{% url 'admin.applications.list' %}",
                },
            ],
        },
        {% endif %}

        {% if perm.manage_platform %}
            {% if not AUTO_CREATE_REGULAR_USER %}
            // 如果平台不在用户登录的时候自动创建用户，则需要在用户列表中将用户添加为普通用户后，用户才能访问开发者中心
                {
                    name: '用户管理',
                    children: [
                        {
                            name: '用户列表',
                            icon: 'icon-block-shape',
                            url: "{% url 'admin.accountmgr.userprofiles.index' %}",
                        },
                    ],
                },
            {% endif %}
        {% endif %}
    ];
</script>
{% endblock %}
