{% extends "../base_with_nav.html" %}
{% load admin_utils %}

{% block content_header %}
<ul class="paas-breadcrumb">
    <li><a href="{% url 'admin.front_page' %}">首页</a></li>
    <li><a href="{% url 'admin.configuration.bk_plugins.tags.manage' %}">应用配置管理</a></li>
    <li class="active">{{ view.name }}</li>
</ul>
{% endblock %}

{% block nav_list %}
<script>
    var navList = [
        {
            name: "插件分类配置",
            icon: 'icon-tree-module-shape',
            url: "{% url 'admin.configuration.bk_plugins.tags.manage' %}"
        },
        {
            name: "插件使用方配置",
            icon: 'icon-tree-module-shape',
            url: "{% url 'admin.configuration.bk_plugins.distributors.manage' %}"
        },
        {
            name: "仪表盘模板配置",
            icon: 'icon-tree-module-shape',
            url: "{% url 'admin.configuration.dashboard_tmpl.manage' %}"
        }
    ]
</script>
{% endblock %}
