@font-face {
	font-family: "paasng";
	src: url("fonts/iconcool.svg#iconcool") format("svg"),
url("fonts/iconcool.ttf") format("truetype"),
url("fonts/iconcool.woff") format("woff"),
url("fonts/iconcool.eot?#iefix") format("embedded-opentype");
    font-weight: normal;
    font-style: normal;
}

.paasng-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'paasng' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.paasng-app-store:before {
	content: "\e286";
}
.paasng-feature-conversion:before {
	content: "\e21f";
}
.paasng-link:before {
	content: "\e220";
}
.paasng-remind:before {
	content: "\e26b";
}
.paasng-stop-fill:before {
	content: "\e25f";
}
.paasng-info-line:before {
	content: "\e219";
}
.paasng-info-fill:before {
	content: "\e268";
}
.paasng-return-small:before {
	content: "\e222";
}
.paasng-edit-2:before {
	content: "\e23f";
}
.paasng-process-file:before {
	content: "\e24e";
}
.paasng-bukeyulan:before {
	content: "\e21c";
}
.paasng-github-logo:before {
	content: "\e21e";
}
.paasng-check-small:before {
	content: "\e247";
}
.paasng-template-fill:before {
	content: "\e23b";
}
.paasng-list-fill:before {
	content: "\e23c";
}
.paasng-debug-fill:before {
	content: "\e221";
}
.paasng-configuration-line:before {
	content: "\e26a";
}
.paasng-diff-line:before {
	content: "\e223";
}
.paasng-correct:before {
	content: "\e101";
}
.paasng-branch-line:before {
	content: "\e103";
}
.paasng-analysis:before {
	content: "\e102";
}
.paasng-dashboard:before {
	content: "\e104";
}
.paasng-diamond:before {
	content: "\e107";
}
.paasng-chip:before {
	content: "\e105";
}
.paasng-current-source-type:before {
	content: "\e106";
}
.paasng-double-arrow-right:before {
	content: "\e108";
}
.paasng-external-link:before {
	content: "\e109";
}
.paasng-funnel:before {
	content: "\e10a";
}
.paasng-gear:before {
	content: "\e10b";
}
.paasng-dynamic-line:before {
	content: "\e10c";
}
.paasng-general-copy:before {
	content: "\e10d";
}
.paasng-general-sort:before {
	content: "\e10e";
}
.paasng-gitlab:before {
	content: "\e10f";
}
.paasng-help:before {
	content: "\e110";
}
.paasng-icon-close:before {
	content: "\e111";
}
.paasng-icon-more:before {
	content: "\e112";
}
.paasng-icon-search:before {
	content: "\e113";
}
.paasng-info-danger:before {
	content: "\e114";
}
.paasng-jump-link:before {
	content: "\e115";
}
.paasng-keys:before {
	content: "\e116";
}
.paasng-logo:before {
	content: "\e117";
}
.paasng-market-line:before {
	content: "\e118";
}
.paasng-metrics:before {
	content: "\e119";
}
.paasng-modules:before {
	content: "\e11a";
}
.paasng-monitor-fill:before {
	content: "\e11b";
}
.paasng-monitor:before {
	content: "\e11c";
}
.paasng-pa-arrow-left:before {
	content: "\e11d";
}
.paasng-paas-remind-fill:before {
	content: "\e11e";
}
.paasng-pack-up:before {
	content: "\e11f";
}
.paasng-pass:before {
	content: "\e120";
}
.paasng-plus-thick:before {
	content: "\e121";
}
.paasng-ps-arrow-down:before {
	content: "\e122";
}
.paasng-ps-arrow-right:before {
	content: "\e123";
}
.paasng-ps-arrow-up:before {
	content: "\e124";
}
.paasng-reject:before {
	content: "\e125";
}
.paasng-security:before {
	content: "\e126";
}
.paasng-squares:before {
	content: "\e127";
}
.paasng-star-line:before {
	content: "\e129";
}
.paasng-stick:before {
	content: "\e12a";
}
.paasng-unfold:before {
	content: "\e12b";
}
.paasng-volumn:before {
	content: "\e12c";
}
.paasng-window-source-code:before {
	content: "\e12d";
}
.paasng-angle-double-down:before {
	content: "\e12e";
}
.paasng-angle-double-left:before {
	content: "\e12f";
}
.paasng-angle-down:before {
	content: "\e132";
}
.paasng-angle-double-right:before {
	content: "\e131";
}
.paasng-angle-left:before {
	content: "\e130";
}
.paasng-angle-double-up:before {
	content: "\e135";
}
.paasng-angle-up:before {
	content: "\e133";
}
.paasng-apps-shape:before {
	content: "\e134";
}
.paasng-apps:before {
	content: "\e137";
}
.paasng-angle-right:before {
	content: "\e136";
}
.paasng-area-chart:before {
	content: "\e13a";
}
.paasng-arrows-down-circle:before {
	content: "\e139";
}
.paasng-arrows-down-shape:before {
	content: "\e13c";
}
.paasng-arrows-down:before {
	content: "\e13b";
}
.paasng-arrows-left-circle:before {
	content: "\e13e";
}
.paasng-arrows-left:before {
	content: "\e140";
}
.paasng-arrows-right-circle:before {
	content: "\e146";
}
.paasng-arrows-right:before {
	content: "\e147";
}
.paasng-arrows-up-circle:before {
	content: "\e14a";
}
.paasng-arrows-up:before {
	content: "\e14c";
}
.paasng-back-shape:before {
	content: "\e14d";
}
.paasng-back:before {
	content: "\e14e";
}
.paasng-back2:before {
	content: "\e14f";
}
.paasng-bar-chart:before {
	content: "\e150";
}
.paasng-bk:before {
	content: "\e151";
}
.paasng-block-shape:before {
	content: "\e152";
}
.paasng-calendar-shape:before {
	content: "\e155";
}
.paasng-calendar:before {
	content: "\e154";
}
.paasng-chain:before {
	content: "\e156";
}
.paasng-check-1:before {
	content: "\e153";
}
.paasng-check-circle-shape:before {
	content: "\e157";
}
.paasng-check-circle:before {
	content: "\e158";
}
.paasng-circle-2-1:before {
	content: "\e15a";
}
.paasng-circle-4-1:before {
	content: "\e15b";
}
.paasng-circle-shape:before {
	content: "\e15c";
}
.paasng-circle:before {
	content: "\e159";
}
.paasng-clipboard-shape:before {
	content: "\e15d";
}
.paasng-clipboard:before {
	content: "\e15e";
}
.paasng-clock-shape:before {
	content: "\e162";
}
.paasng-clock:before {
	content: "\e15f";
}
.paasng-close-circle-shape:before {
	content: "\e160";
}
.paasng-close-circle:before {
	content: "\e163";
}
.paasng-close:before {
	content: "\e161";
}
.paasng-close3-shape:before {
	content: "\e167";
}
.paasng-code:before {
	content: "\e166";
}
.paasng-cog-shape:before {
	content: "\e164";
}
.paasng-cog:before {
	content: "\e165";
}
.paasng-cry:before {
	content: "\e169";
}
.paasng-dashboard-2-shape:before {
	content: "\e16a";
}
.paasng-dashboard-2:before {
	content: "\e16c";
}
.paasng-dashboard-shape:before {
	content: "\e16b";
}
.paasng-dashboard-2:before {
	content: "\e16e";
}
.paasng-data-shape:before {
	content: "\e16d";
}
.paasng-data:before {
	content: "\e170";
}
.paasng-data2-shape:before {
	content: "\e16f";
}
.paasng-data2:before {
	content: "\e173";
}
.paasng-dedent:before {
	content: "\e171";
}
.paasng-delete:before {
	content: "\e172";
}
.paasng-dialogue-empty-shape:before {
	content: "\e174";
}
.paasng-dialogue-empty:before {
	content: "\e176";
}
.paasng-dialogue-shape:before {
	content: "\e175";
}
.paasng-dialogue:before {
	content: "\e177";
}
.paasng-dispirited:before {
	content: "\e178";
}
.paasng-docker:before {
	content: "\e17a";
}
.paasng-down-shape:before {
	content: "\e17b";
}
.paasng-import:before {
	content: "\e17d";
}
.paasng-edit:before {
	content: "\e17c";
}
.paasng-edit2:before {
	content: "\e17f";
}
.paasng-ellipsis:before {
	content: "\e17e";
}
.paasng-email-shape:before {
	content: "\e180";
}
.paasng-email:before {
	content: "\e181";
}
.paasng-empty-shape:before {
	content: "\e183";
}
.paasng-empty:before {
	content: "\e182";
}
.paasng-end:before {
	content: "\e184";
}
.paasng-exclamation-circle-shape:before {
	content: "\e187";
}
.paasng-exclamation-circle:before {
	content: "\e185";
}
.paasng-exclamation-triangle-shape:before {
	content: "\e188";
}
.paasng-exclamation-triangle:before {
	content: "\e186";
}
.paasng-exclamation:before {
	content: "\e18b";
}
.paasng-execute:before {
	content: "\e189";
}
.paasng-eye-shape:before {
	content: "\e18a";
}
.paasng-eye-slash-shape:before {
	content: "\e18c";
}
.paasng-eye-slash:before {
	content: "\e18e";
}
.paasng-eye:before {
	content: "\e18f";
}
.paasng-file-plus-shape:before {
	content: "\e18d";
}
.paasng-file-plus:before {
	content: "\e190";
}
.paasng-file-shape:before {
	content: "\e191";
}
.paasng-file:before {
	content: "\e192";
}
.paasng-folder-open-shape:before {
	content: "\e194";
}
.paasng-folder-open:before {
	content: "\e193";
}
.paasng-folder-plus-shape:before {
	content: "\e195";
}
.paasng-folder-plus:before {
	content: "\e196";
}
.paasng-folder-shape:before {
	content: "\e198";
}
.paasng-folder:before {
	content: "\e197";
}
.paasng-full-screen:before {
	content: "\e19b";
}
.paasng-heart-shape:before {
	content: "\e19d";
}
.paasng-heart:before {
	content: "\e19c";
}
.paasng-hide:before {
	content: "\e199";
}
.paasng-home:before {
	content: "\e19e";
}
.paasng-id-shape:before {
	content: "\e19f";
}
.paasng-id:before {
	content: "\e1a4";
}
.paasng-image-shape:before {
	content: "\e1a0";
}
.paasng-image:before {
	content: "\e1a2";
}
.paasng-indent:before {
	content: "\e1a1";
}
.paasng-info-circle-shape:before {
	content: "\e1a3";
}
.paasng-info-circle:before {
	content: "\e1a6";
}
.paasng-info-2:before {
	content: "\e1a5";
}
.paasng-key-2:before {
	content: "\e1a8";
}
.paasng-left-shape:before {
	content: "\e1a7";
}
.paasng-line-chart:before {
	content: "\e1a9";
}
.paasng-list:before {
	content: "\e1ab";
}
.paasng-lock-shape:before {
	content: "\e1ac";
}
.paasng-lock:before {
	content: "\e1aa";
}
.paasng-minus-circle-shape:before {
	content: "\e1ad";
}
.paasng-minus-circle:before {
	content: "\e1b1";
}
.paasng-minus-square-shape:before {
	content: "\e1ae";
}
.paasng-minus-square:before {
	content: "\e1b3";
}
.paasng-minus:before {
	content: "\e1af";
}
.paasng-mobile-shape:before {
	content: "\e1b0";
}
.paasng-mobile:before {
	content: "\e1b2";
}
.paasng-monitors-cog:before {
	content: "\e1b4";
}
.paasng-more:before {
	content: "\e1b7";
}
.paasng-move:before {
	content: "\e1b5";
}
.paasng-next-shape:before {
	content: "\e1b6";
}
.paasng-monitors:before {
	content: "\e1b8";
}
.paasng-next:before {
	content: "\e1b9";
}
.paasng-order-shape:before {
	content: "\e1bb";
}
.paasng-order:before {
	content: "\e1ba";
}
.paasng-panel-shape:before {
	content: "\e1bd";
}
.paasng-panel-permission:before {
	content: "\e1bc";
}
.paasng-panel:before {
	content: "\e1be";
}
.paasng-panels:before {
	content: "\e1bf";
}
.paasng-password-shape:before {
	content: "\e1c0";
}
.paasng-password:before {
	content: "\e1c3";
}
.paasng-pc-shape:before {
	content: "\e1c2";
}
.paasng-pause:before {
	content: "\e1c1";
}
.paasng-pc:before {
	content: "\e1c5";
}
.paasng-pie-chart-shape:before {
	content: "\e1c6";
}
.paasng-pie-chart:before {
	content: "\e1c4";
}
.paasng-pipeline-shape:before {
	content: "\e1c9";
}
.paasng-pipeline:before {
	content: "\e1c7";
}
.paasng-play-shape:before {
	content: "\e1c8";
}
.paasng-play-circle-shape:before {
	content: "\e1ca";
}
.paasng-play:before {
	content: "\e1cb";
}
.paasng-play2:before {
	content: "\e1cd";
}
.paasng-play3:before {
	content: "\e1cc";
}
.paasng-plus-circle-shape:before {
	content: "\e1d1";
}
.paasng-plus-circle:before {
	content: "\e1ce";
}
.paasng-plus-square-shape:before {
	content: "\e1d0";
}
.paasng-plus-square:before {
	content: "\e1cf";
}
.paasng-plus:before {
	content: "\e1d3";
}
.paasng-project:before {
	content: "\e1d4";
}
.paasng-qq-shape:before {
	content: "\e1d2";
}
.paasng-qq:before {
	content: "\e1d5";
}
.paasng-question-circle-shape:before {
	content: "\e1d7";
}
.paasng-question-circle:before {
	content: "\e1d6";
}
.paasng-question:before {
	content: "\e1db";
}
.paasng-refresh:before {
	content: "\e1d8";
}
.paasng-right-shape:before {
	content: "\e1d9";
}
.paasng-save-shape:before {
	content: "\e1e0";
}
.paasng-save:before {
	content: "\e1dd";
}
.paasng-script-file:before {
	content: "\e1de";
}
.paasng-script-files:before {
	content: "\e1dc";
}
.paasng-search:before {
	content: "\e1e1";
}
.paasng-sina:before {
	content: "\e1e2";
}
.paasng-sitemap-shape:before {
	content: "\e1e5";
}
.paasng-sitemap:before {
	content: "\e1e3";
}
.paasng-smile-shape:before {
	content: "\e1e7";
}
.paasng-smile:before {
	content: "\e1e4";
}
.paasng-sort:before {
	content: "\e1ea";
}
.paasng-star-3:before {
	content: "\e1e6";
}
.paasng-star-shape:before {
	content: "\e1e9";
}
.paasng-stop-shape:before {
	content: "\e1eb";
}
.paasng-stop:before {
	content: "\e1e8";
}
.paasng-tree-application-shape:before {
	content: "\e1f1";
}
.paasng-tree-application:before {
	content: "\e1ec";
}
.paasng-tree-group-shape:before {
	content: "\e1ee";
}
.paasng-tree-group:before {
	content: "\e1ef";
}
.paasng-tree-module-shape:before {
	content: "\e1ed";
}
.paasng-tree-module:before {
	content: "\e1f3";
}
.paasng-tree-process-shape:before {
	content: "\e1f0";
}
.paasng-tree-process:before {
	content: "\e1f4";
}
.paasng-unlock-shape:before {
	content: "\e1f5";
}
.paasng-un-full-screen:before {
	content: "\e1f7";
}
.paasng-unlock:before {
	content: "\e1f2";
}
.paasng-up-shape:before {
	content: "\e1f8";
}
.paasng-user-shape:before {
	content: "\e1f6";
}
.paasng-upload:before {
	content: "\e1f9";
}
.paasng-user:before {
	content: "\e1fb";
}
.paasng-weixin-shape:before {
	content: "\e1fa";
}
.paasng-weixin:before {
	content: "\e1fd";
}
.paasng-work-manage:before {
	content: "\e1fc";
}
.paasng-star-cover:before {
	content: "\e1fe";
}
.paasng-offline:before {
	content: "\e1ff";
}
.paasng-excel-fill:before {
	content: "\e200";
}
.paasng-file-fill:before {
	content: "\e201";
}
.paasng-deploy-preparation:before {
	content: "\e202";
}
.paasng-deploy-build:before {
	content: "\e203";
}
.paasng-deploy-release:before {
	content: "\e204";
}
.paasng-restore-screen:before {
	content: "\e205";
}
.paasng-full-screen-new:before {
	content: "\e206";
}
.paasng-git-code:before {
	content: "\e207";
}
.paasng-go:before {
	content: "\e208";
}
.paasng-golang:before {
	content: "\e209";
}
.paasng-nodejs:before {
	content: "\e20a";
}
.paasng-python:before {
	content: "\e20b";
}
.paasng-svn:before {
	content: "\e20c";
}
.paasng-gitlab-2:before {
	content: "\e20d";
}
.paasng-nodejs-2:before {
	content: "\e20e";
}
.paasng-diff-2:before {
	content: "\e21a";
}
.paasng-lesscode:before {
	content: "\e20f";
}
.paasng-upload-2:before {
	content: "\e210";
}
.paasng-git:before {
	content: "\e211";
}
.paasng-page-fill:before {
	content: "\e214";
}
.paasng-organization:before {
	content: "\e216";
}
.paasng-cloudapi:before {
	content: "\e218";
}
.paasng-insights:before {
	content: "\e21d";
}
.paasng-bold-close:before {
	content: "\e21b";
}
.paasng-time:before {
	content: "\e24b";
}
.paasng-project:before {
	content: "\e269";
}
.paasng-angle-double-down:before {
	content: "\e241";
}
.paasng-angle-double-up:before {
	content: "\e242";
}
.paasng-angle-line-down:before {
	content: "\e23d";
}
.paasng-angle-line-up:before {
	content: "\e23e";
}
.paasng-overview:before {
	content: "\e224";
}
.paasng-setting-2:before {
	content: "\e225";
}
.paasng-publish-fill:before {
	content: "\e226";
}
.paasng-log-2:before {
	content: "\e227";
}
.paasng-alert:before {
	content: "\e228";
}
.paasng-alert2:before {
	content: "\e229";
}
.paasng-member:before {
	content: "\e22a";
}
.paasng-version:before {
	content: "\e22b";
}
.paasng-help-2:before {
	content: "\e22c";
}
.paasng-plus-circle:before {
	content: "\e22d";
}
.paasng-back:before {
	content: "\e22e";
}
.paasng-ceshi:before {
	content: "\e22f";
}
.paasng-zhengshi:before {
	content: "\e230";
}
.paasng-diff:before {
	content: "\e231";
}
.paasng-debug:before {
	content: "\e23a";
}
.paasng-stop:before {
	content: "\e239";
}
.paasng-refresh-line:before {
	content: "\e238";
}
.paasng-download:before {
	content: "\e237";
}
.paasng-stop-2:before {
	content: "\e236";
}
.paasng-organization:before {
	content: "\e235";
}
.paasng-user:before {
	content: "\e234";
}
.paasng-user2:before {
	content: "\e233";
}
.paasng-file:before {
	content: "\e232";
}
.paasng-process:before {
	content: "\e240";
}
.paasng-configuration:before {
	content: "\e243";
}
.paasng-api:before {
	content: "\e246";
}
.paasng-wangguan:before {
	content: "\e248";
}
.paasng-api-2:before {
	content: "\e249";
}
.paasng-pv:before {
	content: "\e24a";
}
.paasng-process-2:before {
	content: "\e24c";
}
.paasng-abnormal:before {
	content: "\e257";
}
.paasng-normal:before {
	content: "\e258";
}
.paasng-default:before {
	content: "\e25e";
}
.paasng-success:before {
	content: "\e25d";
}
.paasng-failed:before {
	content: "\e25c";
}
.paasng-waiting:before {
	content: "\e25b";
}
.paasng-warning-2:before {
	content: "\e25a";
}
.paasng-unknown:before {
	content: "\e259";
}
.paasng-lishijilu:before {
	content: "\e261";
}
.paasng-bushu:before {
	content: "\e24f";
}
.paasng-keguance:before {
	content: "\e250";
}
.paasng-peizhi:before {
	content: "\e252";
}
.paasng-jingxiang:before {
	content: "\e253";
}
.paasng-guifan:before {
	content: "\e255";
}
.paasng-anquan:before {
	content: "\e256";
}
.paasng-duliang:before {
	content: "\e254";
}
.paasng-deploy-item-dot:before {
	content: "\e260";
}
.paasng-shouqi:before {
	content: "\e262";
}
.paasng-zhankai:before {
	content: "\e263";
}
.paasng-tableminus:before {
	content: "\e264";
}
.paasng-tableplus:before {
	content: "\e265";
}
.paasng-gitlab-3:before {
	content: "\e266";
}
.paasng-overview1:before {
	content: "\e298";
}
.paasng-user-line:before {
	content: "\e299";
}
.paasng-circle-correct-filled:before {
	content: "\e291";
}
.paasng-time-filled:before {
	content: "\e297";
}
.paasng-host:before {
	content: "\e296";
}
.paasng-plugin:before {
	content: "\e293";
}
.paasng-file-5:before {
	content: "\e295";
}
.paasng-unfinished:before {
	content: "\e292";
}
.paasng-jiangxu:before {
	content: "\e26d";
}
.paasng-shengxu:before {
	content: "\e26c";
}
.paasng-qianyi-mianxing:before {
	content: "\e26e";
}
.paasng-qianyi-xianxing:before {
	content: "\e26f";
}
.paasng-diff-4:before {
	content: "\e270";
}
.paasng-fx:before {
	content: "\e290";
}
.paasng-cronjob:before {
	content: "\e280";
}
.paasng-ing:before {
	content: "\e283";
}
.paasng-deploy-5:before {
	content: "\e282";
}
.paasng-job:before {
	content: "\e284";
}
.paasng-svc:before {
	content: "\e281";
}
.paasng-caozuojilu:before {
	content: "\e285";
}
.paasng-daimaku:before {
	content: "\e289";
}
.paasng-kaifakuangjia:before {
	content: "\e288";
}
.paasng-liuchengfuwu:before {
	content: "\e28c";
}
.paasng-qianduanzujianku:before {
	content: "\e28b";
}
.paasng-wenjianzhuanhuan:before {
	content: "\e287";
}
.paasng-yingyongmoxing:before {
	content: "\e28a";
}
.paasng-yunweikaifa:before {
	content: "\e28d";
}
.paasng-zengqiangfuwu:before {
	content: "\e28e";
}
.paasng-zhuanhuan:before {
	content: "\e28f";
}
.paasng-waiting-2:before {
	content: "\e294";
}
.paasng-Application-list:before {
	content: "\e29a";
}
