{
    "pk": "332d740b-03ed-40f2-aa6b-c90cc5f1e89c",
    "fields": {
        "region": "default",
        "name": "default-main",
        "description": "默认应用集群",
        "is_default": true,
        "ingress_config": {
            "default_ingress_domain_tmpl": "%s.{{ PAAS_WL_CLUSTER_SUB_PATH_DOMAIN }}",
            "frontend_ingress_ip": "{{ PAAS_WL_CLUSTER_FRONTEND_INGRESS_IP }}",
            "app_root_domains": [
                {
                    "name": "{{ PAAS_WL_CLUSTER_APP_ROOT_DOMAIN }}",
                    "https_enabled": {{ PAAS_WL_CLUSTER_ENABLED_HTTPS_BY_DEFAULT }}
                }
            ],
            "sub_path_domains": [
                {
                    "name": "{{ PAAS_WL_CLUSTER_SUB_PATH_DOMAIN }}",
                    "https_enabled": {{ PAAS_WL_CLUSTER_ENABLED_HTTPS_BY_DEFAULT }}
                }
            ],
            "port_map": {
                "http": "{{ PAAS_WL_CLUSTER_HTTP_PORT }}",
                "https": "{{ PAAS_WL_CLUSTER_HTTPS_PORT }}"
            }
        },
        "annotations": {
            "bcs_cluster_id": "{{ PAAS_WL_CLUSTER_BCS_PAAS_WL_CLUSTER_ID }}",
            "bcs_project_id": "{{ PAAS_WL_CLUSTER_BCS_PROJECT_ID }}"
        },
        "ca_data": "{{ PAAS_WL_CLUSTER_CA_DATA }}",
        "cert_data": "{{ PAAS_WL_CLUSTER_CERT_DATA }}",
        "key_data": "{{ PAAS_WL_CLUSTER_KEY_DATA }}",
        "token_type": 1,
        "token_value": "{{ PAAS_WL_CLUSTER_TOKEN_VALUE }}"
    }
}