/*
 * @file alert
 */

.ps-alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 2px;
    display: table;
    width: 100%;
    box-sizing: border-box;
    line-height: initial;
    font-size: 13px;

    h4 {
        color: #333;
        font-size: 18px;
        margin: 2px 0 14px;
        padding: 0;
    }

    &-icon {
        vertical-align: top;
        display: inline-block;
        padding: 0 16px 0 8px;

        i {
            font-size: 28px;
            color: #ffc349;
        }
    }

    &-content {
        padding: 0;
        margin: 0;
        display: inline-block;
        line-height: 1.6;
    }

    &-plain {
        color: #333;
        background-color: #f5f7f7;
        border-color: #e5e5e5;

        &-icon {
            i {
                color: #ffc349;
            }
        }
    }

    &-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    &-info {
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }

    &-success {
        color: #3c763d;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }
}