/*
 * @file 原子样式
 */

.hide {
    display: none !important;
}

.fleft {
    float: left;
}

.fright {
    float: right;
}

.center {
    text-align: center;
}

.pr {
    position: relative;
}

.pa {
    position: absolute;
}

.f18 {
    font-size: 18px;
}

.f14 {
    font-size: 14px;
}

.bgc {
    background: #fcfcfc;
}

.font {
    color: #666666
}

.pb784 {
    padding-bottom: 784px;
}

.pt72 {
    margin-top: 72px;
}

.pt50 {
    margin-top: 50px;
}

.border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.text-success {
    color: #5bd18b;
}

.text-fail {
    color: #ff5656;
}

.text-warn {
    color: #ffb400;
}

.text-primary {
    color: #3A84FF;
}

.text-default {
    color: #ccc;
}

.text-padding-default {
    padding: 0 5px;
}

.text-pre-wrap {
    white-space: pre-wrap;
}

.margin-to-top {
    margin-top: 120px;
}

.blue {
    color: #3A84FF;
}

.blue:hover {
    color: #3a84ff;
}

.red {
    color: #ff6666;
}

.yellow {
    color: #ffc349;
}

.pointer {
    cursor: pointer;
}

.vm {
    vertical-align: middle;
}

.spacing-x0 {
    margin: 4px 0;
}

.spacing-x1 {
    margin: 8px 0;
}

.spacing-x2 {
    margin: 16px 0;
}

.spacing-x3 {
    margin: 24px 0;
}

.spacing-x4 {
    margin: 32px 0;
}

.spacing-x5 {
    margin: 40px 0;
}

.spacing-h {
    &-x0 {
        margin: 0 4px;
    }

    &-x1 {
        margin: 0 8px;
    }

    &-x2 {
        margin: 0 16px;
    }

    &-x3 {
        margin: 0 24px;
    }
}

[v-cloak] {
    display: none;
}

.ml8 {
    margin-left: 8px;
}