/**
 * 卡片
 */

@import "./conf.scss";

.ps-card {
	border: 1px solid #DCDEE5;
	border-radius: 2px;
	box-sizing: border-box;
	* {
		box-sizing: border-box;
	}

	.header {
		height: 42px;
		line-height: 42px;
		border-bottom: 1px solid #DCDEE5;
		background-color: #FAFBFD;
		padding: 0 20px;

		.title {
			color: $appMainFontColor;
			font-size: 14px;
			font-weight: bold;
			float: left;
		}

		.action {
			float: right;
		}
	}

	.content {
		padding: 20px;
	}
}