/*
 * @file 基础配置
 */

// 字体
$golbalFontFamily: "Helvetica Neue", Helvetica, Tahoma, Arial, "Microsoft Yahei", 微软雅黑, "Hiragino Sans GB", "PingFang SC", STHeiTi, sans-serif;

// 基础配色
$successColor: #5bd18b;
$dangerColor: #ff5656;
$primaryColor: #3A84FF;
$defaultColor: #ccc;

// app
$appMainFontColor: #63656E;
$appPrimaryColor: #3A84FF;
$appWarningColor: #FFB848;
$maxContentWidth: 1280px;

