/*
 * @file Dropdown
 */

ul.ps-list-group-link {
    font-size: 13px;

    li:hover {
        background: #ebf2f9;
    }

    li a {
        cursor: pointer;
        display: inline-block;
        padding: 0 8px;
        width: 100%;
        color: #555;
        line-height: 30px;
    }

    li a:hover {
        color: #3A84FF;
    }
}
