/**
 * 标签
 */

@import "./conf.scss";

.ps-label {
	padding: 0 2px;
	font-size: 12px;
	line-height: 16px;
	background: rgba(255,184,72,1);
	border-radius: 2px;
	display: inline-block;
	text-align: center;
	min-width: 28px;

	> span {
		font-size: 12px;
		transform: scale(0.85);
		display: inline-block;
	}

	&.warning {
		color: #fff;
		background-color: $appWarningColor;
	}

	&.primary {
		color: #fff;
		background-color: $appPrimaryColor;
	}
}