/*
 * @file 表格
 */

.ps-table {
    width: 100%;
    th,
    td {
        padding: 12px 0 12px 15px;
        text-align: left;
        position: relative;
        border-bottom: solid 1px #e9edee;
        font-size: 13px;
        word-break: break-all;

        &.center {
            text-align: center;
        }
    }

    th {
        color: #63656E;
        font-size: 13px;
        background-color: #FAFBFD;
    }

    tr {
        &:last-child {
            td {
                border-bottom: none;
            }
        }
    }

    &-width-overflowed {
        margin-left: -30px;
        margin-right: -30px;

        th:first-child,
        td:first-child {
            padding-left: 30px;
        }

        th:last-child,
        td:last-child {
            padding-right: 30px;
        }
    }
}

.ps-table-default {
    th {
        padding: 11px 15px;
        border-right: solid 1px #e6e9ea;
        font-weight: normal;
        font-size: 14px;
        border-top: solid 1px #e6e9ea;
        border-bottom: solid 1px #e6e9ea;
        position: relative;

        &:last-child {
            border-right: none;
        }
    }
}

.ps-table-outline {
    border: solid 1px #e6e9ea;

    td {
        padding: 10px 20px;
    }
}

.ps-table-border {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 2px;
    border: solid 1px #DCDEE5;

    td.has-right-border {
        border-right: solid 1px #DCDEE5;
    }
}

.ps-table-slide-up {
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    color: #666666;
    border-bottom: solid 1px #e6e9ea;
    background: #ffffff;

    &:nth-child(2n) {
        background: #fafbfd;
    }

    td {
        line-height: 24px;
        padding: 8px 20px;
        position: relative;

        &:last-child {
            padding-right: 10px;
        }
    }
}

.ps-table-slide-down {
    line-height: 30px;
    @include box-shadow(0, -10px, 10px, 10px, -10px, rgba(0, 0, 0, 0.1), inset);
}

.ps-table-slide-down pre {
    line-height: 30px;
    box-sizing: border-box;

}