/*
 * @file 字体
 */

.ps-text {
    &-info {
        color: #999;
    }

    &-primary {
        color: #3C96FF;
    }

    &-warn {
        color: #ffb400;
    }

    &-danger {
        color: #FF5656;
    }

    &.ps-text-ellipsis {
        max-width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        line-height: 1;
        vertical-align: middle;
    }
}

.ps-text {
    &-link {
        color: #3A84FF;
    }
}

.ps-label {
    display: inline-block;
    line-height: 20px;
    border-radius: 2px;

    &.primary {
        color: #3A84FF;
        background: #e2f3fe;
        border: 1px solid #3A84FF;
    }
}

.gray-hint-sm {
    color: #666;
    line-height: 30px;
    font-size: 12px;
}
