.inline-select {
    display: inline-block;
    width: 200px;
}

.logo-uploader {
    padding: 18px 0 24px 16px;

    .logo{
        width: 52px;
        height: 52px;
    }

    .upload-btn {
        width: 100px;
        overflow: hidden;
        margin-bottom: 10px;
        input {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 10;
            height: 100%;
            min-height: 40px;
            width: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}

.tip {
    font-size: 12px;
    color: #979BA5;
}

.flash {
    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        top: 0;
        visibility: visible;
        border-radius: 2px;
        animation: 1000ms linear 0s infinite alternate flash;
    }
}

.view-risk {
    &:hover {
        color: #699df4;
    }
}

.reset-mt {
    margin: 5px 0 0 0 !important;
    display: block !important;
}

.visit-link {
    display: inline-block;
    margin-left: 20px;
    color: #3a84ff;
    cursor: pointer;
    &:hover {
        color: #699df4;
    }
}

.wrap {
    width: 1180px;
}

@keyframes flash {
    0% {
        background-color: #3A84FF;
        opacity: 0;
    }

    50% {
        background-color: #3A84FF;
        opacity: 0.2;
    }

    100% {
        background-color: #3A84FF;
        opacity: 0;
    }
}

.address-info{
    background: #fff;
    padding: 15px 15px 15px 24px;
    &-title{
        color: #313238;
        font-weight: 700;
        margin-right: 22px;
    }
    &-url{
        color: #313238;
    }
    &-btn{
        padding-left: 24px;
    }
}
.mark-info{
    height: 52px;
    line-height: 52px;
    background: #fff;
    padding: 0 15px 0 24px;
    .release-info{
        &-title{
            color: #313238;
            font-weight: 700;
        }
        &-status{
            width: 52px;
            height: 22px;
            line-height: 22px;
            background: #F0F1F5;
            border-radius: 2px;
            font-size: 12px;
            text-align: center;
            margin: 0 18px 0 24px;
            color: #63656E;
        }
        &-alert{
            margin-left: 24px;
            flex: 1;
            /deep/ .bk-alert-wraper{
                padding: 7px 10px;
                align-items: center;
            }
            /deep/ .bk-button-text{
                font-size: 12px;
                height: auto;
            }
        }
    }
}

.market-manager{
    .market-info,
    .base-info{
        background: #fff;
        padding: 12px 15px 0px 24px;
        margin-top: 16px;
        &-title{
            color: #313238;
        }
        &-name{
            line-height: 25px;
            padding-left: 16px;
        }
        &-region{
            width: 52px;
            height: 22px;
            line-height: 22px;
            background: #FFF1DB;
            border-radius: 2px;
            font-size: 12px;
            color: #FE9C00;
            text-align: center;
            margin: 0 16px 0 5px;
        }
        &-container{
            padding: 18px 0 24px 16px;
        }
        &-btn{
            width: 88px;
        }
    }
    .market-detail-container{
        padding: 18px 0 24px 16px;
        /deep/ .bk-form-item{
            width: 400px;
            margin-left: 0px;
            margin-top: 10px !important;
        }
        .form-text{
            color: #313238;
            word-wrap: break-word;
            width: 290px;
        }
    }
}