@import "node_modules/bootstrap-table/dist/bootstrap-table";

#top-nav .navbar-brand-light {
    color: #fff;
}
h1.main-title {
    font-size: 24px;
    margin-top: 0;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 12px;
}
h2.sub-title {
    font-size: 18px;
    margin-top: 0;
    padding-bottom: 12px;
}
.info {
    color: #666;
}

.common-links a {
    margin-right: 24px;
    margin-bottom: 12px;
}

.table td {
    overflow: auto;
}

.table td.short {

}
