<table style="width: 750px; background: #fff; border: 1px solid #CCC; border-spacing: 0">
  <tbody>
    <tr>
      <td>
        <table style="background: #4682B4; width: 100%">
          <tbody>
            <tr>
              <td>
                <h1 style="margin: 5px; color: #fff; font-size: 18px; font-weight: 600">
                  【蓝鲸开发者中心】应用运营异常关注通知
                </h1>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <tbody>
            <tr>
              <td style="padding: 15px; line-height: 1.5em; font-size: 13px">
                <p> 你好，平台管理员: </p>
                <p style="margin-left: 20px"> 目前蓝鲸开发者中心共有：</p>
                <p style="margin-left: 30px"> - 无主应用 {{ ownerless_cnt }} 个</p>
                <p style="margin-left: 30px"> - 闲置应用 {{ idle_cnt }} 个</p>
                <p style="margin-left: 30px"> - 无用户访问应用 {{ unvisited_cnt }} 个</p>
                <p style="margin-left: 30px"> - 缺少维护应用 {{ maintainless_cnt }} 个</p>
                <p style="margin-left: 30px"> - 未部署应用 {{ undeploy_cnt }} 个</p>
                <p style="margin-left: 30px"> - 配置不当应用 {{ misconfigured_cnt }} 个</p>
                <p style="margin-left: 20px"> 请及时关注并处理。</p>
                <a style="margin-left: 20px" href="{{ bkpaas_url }}/backend/admin42/operation/applications/evaluations/">
                  前往蓝鲸开发者中心查看
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
