.deploy-panel {
    width: 100%;
    height: auto;
    background: #FFF;
    min-height: 670px;
}

.deploy-metadata {
    padding: 22px 25px;

    &.flex {
        display: flex;
    }

    .metadata-wrap {
        width: 50%;
        display: flex;
        padding-right: 15px;

        .data-logo {
            width: 46px;
            text-align: center;
            margin-right: 18px;

            svg {
                width: 46px;
                height: 46px;
            }
            img {
                width: 50px;
                height: 50px;
            }
        }
    }
}

.deploy-main {
    // padding-top: 15px;
    font-size: 14px;
    color: #63656E;

    .summary-box {
        background: #F5F6FA;
        border-radius: 2px;
        padding: 11px 20px;
        line-height: 16px;

        &::after {
            display: block;
            clear: both;
            content: "";
            font-size: 0;
            height: 0;
            visibility: hidden;
        }

        &.primary {
            background: red;
            color: #979BA5;
        }

        &.danger {
            background: #FFECEC;
        }

        .span {
            width: 1px;
            height: 16px;
            background: #DCDEE5;
            margin: 0 40px;
        }

        .value {
            color: #3A84FF;
        }

        .dropdown-trigger-btn {
            cursor: pointer;
        }
    }

    .deploy-action {
        padding-bottom: 22px;
        border-bottom: 1px solid #DCDEE5;

        strong {
            color: #63656E;
            display: block;
            line-height: 1;
        }
    }
}

.data-label {
    text-align: center;
    height: 16px;
    line-height: 16px;
    padding: 0 9px;
    background: #DCDEE5;
    border-radius: 8px;

    &.success {
        background: #E7FCFA;

        .text {
            color: #18C0A1;
        }
    }

    .text {
        font-size: 12px;
        display: inline-block;
        transform: scale(0.8);
        color: #63656E;
        line-height: 16px;
    }
}

.metadata {
    font-size: 14px;
    color: #63656E;
    flex: 1;
    max-width: calc(100% - 60px);

    a {
        line-height: 1;
    }

    .data-item {
        padding: 0;
        line-height: 1;
        margin-bottom: 7px;
        display: flex;

        .data-key {
            min-width: 42px;
        }

        .data-value {
            flex: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 530px;
            line-height: 16px;
        }
    }
}

.deploy-view {
    display: flex;
}
