@import '~@/assets/css/mixins/border-active-logo.scss';
.default-info{
    background-color: #F0F8FF;
    border: 1px solid #A3C5FD;
    font-size: 12px;
}
.create-item {
    padding: 27px 30px;
    margin-top: 22px;
    border: 1px solid #dcdee5;
    border-radius: 2px;
    .item-title {
        line-height: 21px;
        color: #313238;
        font-size: 14px;
        font-weight: 600;
        .paasng-icon {
            position: relative;
            top: 1px;
        }
    }
    .mark-info {
        position: relative;
        top: 7px;
        font-size: 12px;
        color: #979ba5
    }
    .info {
        margin-top: 10px;
        p {
            line-height: 20px;
            color: #979ba5;
            font-size: 12px;
        }
    }
    .item-radio {
        margin-top: 20px;
        p:nth-child(1) {
            margin-bottom: 10px;
            color: #63656e;
            font-size: 14px;
            font-weight: bold;
        }
    }
    .item-input {
        margin-top: 18px;
        label {
            line-height: 25px;
            color: #63656e;
            font-size: 14px;
            font-weight: bold;
        }
    }

    .form-group{
        display: flex;
        &-flex{
            width: 520px;
            margin-top: 10px;
        }
        &-radio {
            display: flex;
            align-items: center;
            margin-top: 3px;
        }
        &-flex-radio {
            width: 283px;
            margin-top: 10px;
        }
        .form-label{
            &::after {
                height: 8px;
                line-height: 1;
                content: '*';
                color: #EA3636;
                font-size: 12px;
                display: inline-block;
                vertical-align: middle;
                padding-left: 5px;
            }
        }
    }
    

    .form-group-dir{
        display: flex;
        &-flex{
            width: 520px;
            margin-top: 10px;
        }
        &-radio {
            display: flex;
            align-items: center;
            margin-top: 3px;
        }
    }
}

.whole-item-tips {
    line-height: 26px;
    color: #979ba5;
    font-size: 12px;

    .whole-item-tips-text {
        color: #3a84ff;
        &:hover {
            cursor: pointer;
        }
    }
}

.no-wrap {
    position: relative;
    width: 600px;
}

.form-label {
    color: #63656e;
    line-height: 32px;
    font-size: 14px;
    padding-top: 10px;
    width: 90px;
    text-align: right;
    margin-right: 10px;
    &.template {
        line-height: 48px;
        flex: 0 0 90px !important;
    }
    &::after {
        height: 8px;
        line-height: 1;
        content: '*';
        color: #EA3636;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px;
    }
}

.card-container {
    position: relative;
    height: 208px;
    overflow: hidden;
}

.type-card {
    width: 100%;
    background: #fafafa;
    padding: 20px;
    margin-left: 0;
}

.type-card span.f12 {
    color: #666;
    font-size: 12px;
    line-height: 20px;
    margin-right: 20px;
}

.options-card {
    width: 100%;
    background: #FAFBFD;
    padding: 0 20px 5px 20px;
    margin-left: 0;
    position: absolute;
    left: 0;
    padding-top: 10px;
    .block {
        position: absolute;
        margin-left: 10px;
        width: 82px;
        height: 18px;
        line-height: 18px;
        background: #c4c6cc;
        border-radius: 9px;
        color: #fff;
        font-size: 12px;
        text-align: center;
    }
}

.plugin-container{
    background: #FAFBFD;
    padding: 20px 20px 5px 20px;
    height: 80px;
}

.lesscode-info {
    background-color: #F0F8FF;
    border: 1px solid #A3C5FD;
    padding: 10px;
    margin-left: 90px;
    width: 56%;
    font-size: 12px;
}

.options-card h2 {
    color: #52525d;
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
}

.lang-card-to-left-enter-active,
.lang-card-to-left-leave-active {
    transition: left .75s
}

.lang-card-to-left-leave-to {
    left: -600px;
}

.lang-card-to-left-enter {
    left: 600px;
}

.lang-card-to-right-enter-active,
.lang-card-to-right-leave-active {
    transition: left .75s
}

.lang-card-to-right-leave-to {
    left: 600px;
}

.lang-card-to-right-enter {
    left: -600px;
}

input.ps-form-control {
    padding: 4px 10px;
}

.form-group {
    // margin-bottom: 10px;
    &.mt {
        margin-top: 10px;
    }
    &.mt-negative {
        margin-top: -8px;
    }
    .form-info {
        color: #979ba5;
        line-height: 30px;
        font-size: 12px;
    }
}

.form-actions {
    margin: 24px 0 18px;
}

.form-actions {
    // button {
    //     width: 82px;
    //     margin-left: 10px;
    // }
    .reset-ml {
        width: 106px;
        margin-left: 6px;
        font-size: 14px;
    }
    .ps-btn-l, .ps-btn.ps-btn-l {
        padding: 12px 18px;
    }
    .submit-mr{
        font-size: 14px;
    }
}

.form-loading {
    margin: 24px 0 18px;
    line-height: 16px;
    color: #666;
    text-align: center;

    img {
        width: 45px;
        margin-bottom: -2px;
        margin-left: 8px;
    }

    p:nth-child(2) {
        margin-top: 16px;
        color: #313238;
        font-size: 16px;
        font-weight: bold;
    }
}

#form-create-app {
    input[type="radio"] {
        -webkit-appearance: none;
        appearance: none;
    }
}

.paas-application-tit {
    padding: 15px 0 11px 0;
    color: #666;
    line-height: 36px;
    position: relative;
}

.establish-title {
    position: relative;
    line-height: 34px;
    text-align: center;
}

.establish-title:before,
.establish-title:after {
    content: "";
    position: absolute;
    width: 528px;
    height: 1px;
    background: #e9edee;
    left: 0;
    top: 32px;
}

.establish-title:after {
    left: auto;
    right: 0
}

.establish-title span {
    display: inline-block;
    padding: 0 24px;
    background: #fff;
    line-height: 34px;
    font-size: 18px;
    color: #333;
    z-index: 9;
}

.establish {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 32px;
    box-sizing: border-box;
    .basic-info {
        padding: 27px 30px;
        border: 1px solid #dddfe6;
        .title {
            color: #52525d;
            font-size: 16px;
            .paasng-icon {
                position: relative;
                top: 1px;
            }
        }
    }
    .app-engine {
        padding: 27px 30px;
        margin-top: 32px;
        border: 1px solid #dddfe6;
        .title {
            color: #52525d;
            font-size: 16px;
            .paasng-icon {
                position: relative;
                top: 1px;
            }
        }
    }
}

.establish-tab {
    &.mt {
        margin-top: 10px;
    }
    .code-type {
        margin: 10px 0;
        display: flex;
        justify-content: flex-start;
        .form-label {
            flex: 0 0 80px;
            padding: 0;
        }
        .code-type-cls {
            top: 5px;
        }

        .tab-box {
            display: flex;
            list-style: none;
    
            .tab-item {
                margin-right: 10px;
                width: 144px;
                height: 32px;
                line-height: 32px;
                text-align: center;
                background: #f0f1f5;
                border-radius: 2px;
                font-size: 14px;
                color: #63656e;
                cursor: pointer;
                position: relative;

                &.template {
                    width: 200px;
                    height: 48px;
                    line-height: 48px;
                }
    
                &.active {
                    background: #fff;
                    border: 2px solid #3a84ff;
                    border-radius: 2px;
                    color: #3a84ff;

                    @include border-active-logo;
                }
            }
        }
    }


    .less-code-link {
        position: relative;
        top: 3px;
        left: 10px;
        font-size: 14px;
        color: #3a84ff;
        cursor: pointer;
        &:hover {
            color: #699df4;
        }
    }

    &.frame-wrapper {
        display: flex;
        .frame-placeholder {
            width: 90px;
        }
        .frame-panel {
            flex: 1;
        }
    }
}

.code-depot{
    display: flex;
    margin: 20px 0;
    &-item {
        width: 145px;
        height: 88px;
        background: #f0f1f5;
        border-radius: 2px;
        text-align: center;
        position: relative;
        cursor: pointer;
        img{
            width: 40px;
            height: 36px;
            margin: 12px 0 6px 0;
        }
    }
    .on {
        border: solid 2px #3A84FF;
        padding: 0 16px 0 14px;
        background-color: #fff;
        color: #3A84FF;

        @include border-active-logo;
    }
}

.establish .text1 {
    color: #666;
    font-weight: bold;
    line-height: 36px;
    font-size: 14px;
    padding-top: 10px;
}

.establish .text2 {
    color: #c2c2c2;
    line-height: 30px;
    font-size: 12px;
}

.establishtext {
    padding: 0 15px;
    border: solid 1px #ccc;
    border-radius: 2px;
    width: 100%;
    line-height: 40px;
    font-size: 12px;
    color: #333;
    box-sizing: border-box;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

input::-moz-input-placeholder {
    color: #ccc;
}

input::-ms-input-placeholder {
    color: #ccc;
}

input::-webkit-input-placeholder {
    color: #ccc;
}

.establish-list {
    margin-left: -10px;
    overflow: hidden;
    margin-right: -10px;
}

.establish-list li {
    float: left;
    text-align: center;
    cursor: pointer;
    margin: 0 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    transition: all .5s;
}

.establish-list li.active,
.establish-list li:hover {
    color: #3A84FF;
}

.establish-list li img {
    position: relative;
    vertical-align: middle;
    top: 13px;
}

.establish-list li img.establish-img2,
.establish-list li.active img.establish-img1,
.establish-list li:hover img.establish-img1 {
    display: none;
}

.establish-list li.active img.establish-img2,
.establish-list li:hover img.establish-img2 {
    display: inline-block;
}

.establish-main {
    margin: 14px 0;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.establish-main-list li {
    padding-bottom: 10px;
}

.establish-main-list li p {
    position: relative;
    line-height: 26px;
    padding-left: 22px;
    color: #333;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.establish-main-list li p.cursor:hover {
    color: #50a6ff;
}

.establish-main-list li .radio {
    position: absolute;
    left: 0;
    top: 6px;
}

.establish-main-list li p.f12 {
    color: #979ba5;
    font-size: 12px;
    line-height: 20px;
}

.establish-choose {
    border-top: none;
    padding-top: 14px;
}

.establish-choose a {
    width: 118px;
    height: 40px;
    line-height: 40px;
    border: solid 1px #e5e5e5;
}

.establish-choose a:hover {
    background: #e5e5e5;
}

.establish-li {
    margin-bottom: 8px;
    color: #999999;
    background: none;
    cursor: pointer;
}


.paasng-check-1 {
    float: right;
    font-size: 18px;
    font-weight: bold;
    position: relative;
    top: 13px;
}

.establish-li span {
    font-size: 14px;
    color: #333;
    font-weight: bold;
}

.language-list {
    margin: 0;
    margin-right: -20px;

    li {
        margin: 0 20px 20px 0;
    }

    :nth-child(2n) {
        margin-right: 0
    }
}

.ps-region-list {
    margin-right: 25px;
}

.unbinded-prompt {
    font-size: 13px;
}

.service-wrapper {
    margin-top: 20px;
    .set-margin-top {
        margin-top: 10px;
    }
    .service-title {
        margin-bottom: 10px;
        color: #63656e;
        font-size: 14px;
        font-weight: bold
    }
    .service-info {
        display: inline-block;
        vertical-align: middle;
    }
    .service-des {
        font-size: 12px;
        color: #979ba5;
    }
}
.advanced-option-wrapper {
    margin-top: 10px;
    .label {
        display: block;
        margin-bottom: 10px;
        color: #63656e;
        font-weight: bold
    }
    .error-tips {
        font-size: 12px;
        color: #ff3737;
        margin-top: 6px;
        line-height: initial;
    }
}

.specs-wrapper {
    display: inline-block;
    margin-left: 5px;
    .spec-item {
        display: inline-block;
        height: 26px;
        line-height: 24px;
        border: 1px solid #dfe0e5;
        border-radius: 2px;
        font-size: 12px;
        &.set-margin-left {
            margin-left: 5px;
        }
        .spec-title {
            padding: 0 10px;
        }
        .spec-value {
            padding: 0 10px;
            border-left: 1px solid #dfe0e5;
            display: inline-block;
            background: #fafbfd;
        }
    }
}

.source-control-title{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

