.app-success-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: #F5F7FA;

    .biz-create-success {
        background: #F5F7FA;
        padding: 74px 0 20px 0;
    }
    .success-wrapper {
        .info,
        .content,
        .doc-panel {
            background: #FFFFFF;
            box-shadow: 0 2px 4px 0 #1919290d;
            border-radius: 2px;
        }

        .content {
            margin-top: 16px;
            padding: 24px 40px;
        }

        .doc-panel {
            padding: 24px 40px;
            margin-top: 16px;
            .help-doc {
                margin-bottom: 10px;
                color: #63656e;
                font-weight: bold;
            }
            .doc-item {
                line-height: 32px;
            }
        }
    }
}
.success-wrapper {
    width: 100%;
    .info {
        padding-top: 45px;
        padding-bottom: 40px;
        p:nth-child(1) {
            margin: 0 auto;
            width: 84px;
            height: 84px;
            border-radius: 50%;
            text-align: center;
            background: #E5F6EA;
            .text-success {
                font-weight: bold;
                line-height: 84px;
                transform: scale(2);
                font-size: 20px;
                color: #3FC06D;
            }
        }
        p:nth-child(2) {
            margin-top: 16px;
            font-size: 16px;
            font-weight: bold;
            color: #313238;
            text-align: center;
        }
        p:nth-child(3) {
            margin-top: 12px;
            font-size: 14px;
            color: #63656e;
            text-align: center;
            .link {
                color: #3a84ff;
                cursor: pointer;
                &:hover {
                    color: #699df4;
                }
            }
        }
    }
    .content {
        .input-wrapper {
            display: table;
            width: 100%;
            .input-item {
                display: table-cell;
                width: 80%;
                .svn-input {
                    box-sizing: border-box;
                    position: relative;
                    top: -1px;
                    width: calc(100% - 144px);
                    height: 31px;
                    border-right: 0;
                }
                .svn-input-en {
                    width: calc(100% - 245px);
                }
            }
            .btn-item {
                display: table-cell;
                position: relative;
                left: -1px;
                top: -1px;
                width: 15%;
                .btn-checkout {
                    width: 100%;
                    box-sizing: border-box;
                    border-radius: 0 2px 2px 0;
                }
            }
        }
        .log-title {
            margin-bottom: 10px;
            color: #63656e;
            font-weight: bold;
        }
    }
}

.url-label {
    font-weight: bold;
    color: #333;
    line-height: 30px;
}

.tips-wrapper {
    border-radius: 3px;
    padding: 16px;
    padding-right: 0;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    .title {
        position: relative;
        font-size: 14px;
        color: #63656E;
        margin-bottom: 6px;
        .icon-wrapper {
            position: absolute;
            top: 1px;
            right: 0px;
            display: flex;
            align-items: center;
            color: #3a84ff;
            cursor: pointer;
            font-size: 14px;
            .copy-icon,
            .copy-icon-en {
                font-size: 16px;
                margin-right: 3px;
            }
        }
        &::before {
            position: absolute;
            content: "";
            width: 9px;
            height: 9px;
            top: 5px;
            left: -15px;
            border: 2px solid #D8D8D8;
            border-radius: 50%;
            z-index: 1;
        }
    }
    .line::before {
        position: absolute;
        box-sizing: content-box;
        content: "";
        width: 1px;
        height: 100px;
        top: -13px;
        left: -11px;
        background: #D8D8D8;
        padding-bottom: 18px;
    }
    .tips-plugin.line::before {
        padding-bottom: 70px;
    }
    .tips {
        position: relative;
        padding: 12px 16px;
        border-radius: 2px;
        background: #F5F7FA;
        code {
            display: inline;
            max-width: initial;
            padding: 0;
            margin: 0;
            overflow: initial;
            line-height: 22px;
            word-wrap: normal;
            background-color: transparent;
            border: 0;
            font-size: 100%;
            word-break: normal;
            white-space: pre-line;
            background: 0 0;
            box-sizing: inherit;
            font-family: MicrosoftYaHei;
            font-size: 14px;
            color: #313238;
        }
    }
    .tips-plugin {
        margin-bottom: 16px;
    }
}

.svn-input {
    position: relative;
    top: 0;
    height: 32px !important;
    line-height: 32px;
}

.btn-checkout {
    padding: 0;
    line-height: 32px;
    border: none !important;
}

.success-git.scss {
    display: flex;
}
