/*
 * @file 概览
 */
@import '../components/conf.scss';
.overview-content {
    padding-top: var(--app-content-pd);
}

.overview-tit {
    height: 52px;
    line-height: 52px;
    position: relative;
    font-size: 16px;
    color: #333333;

    h2 {
        border-bottom: 1px solid #e6e9ea;
    }
}

.overview-tit span.expert {
    height: 50px;
    line-height: 50px;
    display: inline-block;
    color: #8d8d93;
    padding-right: 20px;
    margin-right: 15px;
    background: url(/static/images/expert-icon.svg) right center no-repeat;
    background-size: auto 15px;
}

.overview-tit span.expert a {
    color: #8d8d93;
}

.overview-tit span.expert a:hover {
    color: #333;
}

.overview-fleft {
    width: 240px;
    background: #fff;
    border-right: 1px solid rgb(220, 222, 229);
}

.overview-fleft-plugin {
    position: fixed;
    top: 50px;
    bottom: 0px;
    z-index: 999;
    width: 240px;
    background: #fff;
    border-right: 1px solid #dcdee5;
}

.overview-fleft .title {
    height: 60px;
    border-bottom: 1px solid #e6e9ea;
}

.overview-title-pic {
    width: 36px;
    height: 36px;
    margin: 12px 10px 12px 20px;
    border-radius: 4px;
}

.overview-title-text {
    font-size: 12px;
    display: inline-block;
    
    line-height: 18px;
    vertical-align: middle;
    color: #63656E;
    position: relative;
    font-weight: bold;

    .app-title {
        max-width: 95px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: inline-block;
    }
}

.overview-main {
    position: relative;
    display: flex;
    overflow: hidden;
}

.overview-fright {
    min-height: 800px;
    padding-bottom: 66px;
    position: relative;
    flex: 1;
    background: #F5F7FA;
    // 解决外层flex布局表格无法自适应问题
    overflow: hidden;
    // border-left: solid 1px rgba(220, 222, 229, 0.6);
    
    .right-main {
        padding-bottom: 20px;
        height: 100%;
    }
    h2 {
        font-size: 14px;
        font-weight: normal;
        line-height: 52px;
        color: #313238;
        margin: auto;
        padding: 0 24px;
    }

}
.overview-fright-plugin {
    min-height: 800px;
    padding-bottom: 66px;
    position: relative;
    flex: 1;
    // border-left: solid 1px rgba(220, 222, 229, 0.6);
    
    .right-main {
        padding-bottom: 20px;
        height: 100%;
    }
}

.plugiun-highly-adaptive {
    min-height: 0;
}

.plugiun-test-stage {
    height: calc(100vh - 50px);
}

.overview-fright-plugin {
    margin-left: 240px;
}

// 嵌入插件iframe样式
.plugiun-iframe-summary {
    padding-bottom: 0;
    .right-main-plugin {
        height: 100%;
    }
}

.overview-fright-plugin h2 {
    font-size: 14px;
    font-weight: normal;
    line-height: 50px;
    color: #313238;
    max-width: $maxContentWidth;
    margin: auto;
}

.middle {
    display: block;
    border-bottom: solid 1px #e6e9ea;

    &:last-child {
        border-bottom: none;
    }
}

.middle h3,
.fright-middle h3 {
    color: #333333;
    line-height: 52px;
    font-size: 14px;
    position: relative;
}

.middle h3 a.blue {
    float: right;
    font-size: 13px;
    padding-right: 25px;
    font-weight: normal;
}

.gruy {
    color: #333333;
    font-weight: bold;
    padding: 0 5px;
}

.http {
    padding: 10px 20px 0 20px;
}

.middle.http h3 {
    padding-left: 10px;
}

.key {
    position: relative;
    top: 2px;
}

@media screen and (max-width: 1920px) {
    .overview-fright h2 {
        // max-width: 1180px;
    }
}

@media screen and (max-width: 1680px) {
    .overview-fright h2 {
        // max-width: 1080px;
    }
}

@media screen and (max-width: 1440px) {
    .overview-fright h2 {
        // max-width: 980px;
    }
}
