name: '{{ alert_rule_display_name }}'
enabled: {{ enabled }}

labels:
  - PAAS_BUILTIN
  - {{ run_env }}
  - {{ alert_code }}

query:
  data_source: prometheus
  data_type: time_series
  query_configs:
  - metric: 'sum by (pod_name, container_name, namespace) (container_memory_working_set_bytes{container_name!="POD",namespace="{{ metric_labels['namespace'] }}",bcs_cluster_id="{{ metric_labels['bcs_cluster_id'] }}"}) / sum by (pod_name, container_name, namespace) (kube_pod_container_resource_limits_memory_bytes{namespace="{{ metric_labels['namespace'] }}",bcs_cluster_id="{{ metric_labels['bcs_cluster_id'] }}"})'
    interval: 60

detect: # 检测配置
  algorithm: # 检测算法
    fatal: # 告警级别[致命]
    - type: Threshold # 算法类型
      config: "{{ threshold_expr }}" # 算法配置

  trigger: 10/10/8 # 触发条件. 异常次数/检测周期数/恢复周期数

notice: # 通知配置
  interval: 120 # 通知收敛间隔(分钟)
  user_groups: # 通知组配置
  - '{{ notice_group_name }}'
  template:
    abnormal:
      content: '{% raw %}{{content.level}}

        {{content.begin_time}}

        {{content.time}}

        {{content.duration}}

        {{content.target_type}}

        {{content.data_source}}

        {{content.content}}{% endraw %} {{ doc_url }}

        {% raw %}{{content.current_value}}

        {{content.biz}}

        {{content.target}}

        {{content.dimension}}

        {{content.detail}}

        {{content.assign_detail}}

        {{content.related_info}}'
      title: '{{business.bk_biz_name}} - {{alarm.name}}{{alarm.display_type}}{% endraw %}'
