{
	"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
	"operations": [{
			"operation": "upsert_system",
			"data": {
				"id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
				"name": "插件开发者中心",
				"name_en": "Plugin Developer Center",
				"description": "TODO",
				"description_en": "TODO",
				"clients": "{{ CLIENT_APP_CODE }}",
				"provider_config": {
					"host": "{{ IAM_RESOURCE_API_HOST }}",
					"auth": "basic"
				}
			}
		},
		{
			"operation": "upsert_resource_type",
			"data": {
				"id": "plugin",
				"name": "插件",
				"name_en": "plugin",
				"description": "蓝鲸插件",
				"description_en": "BlueKing Plugin",
				"parents": [],
				"provider_config": {
					"path": "/backend/api/bkplugins/shim/iam/selection/plugin_view/"
				},
				"version": 1
			}
		},
		{
			"operation": "upsert_instance_selection",
			"data": {
				"id": "plugin_view",
				"name": "蓝鲸插件视图",
				"name_en": "BlueKing Plugin View",
				"resource_type_chain": [{
					"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
					"id": "plugin"
				}]
			}
		}
	]
}