{
	"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
	"operations": [{
			"operation": "upsert_action",
			"data": {
				"id": "basic_development",
				"name": "基础开发",
				"name_en": "Basic Development",
				"type": "",
				"related_resource_types": [{
					"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
					"id": "plugin",
					"related_instance_selections": [{
						"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
						"id": "plugin_view"
					}]
				}],
				"version": 1
			}
		},
		{
			"operation": "upsert_action",
			"data": {
				"id": "release_version",
				"name": "版本发布",
				"name_en": "Release Version",
				"type": "create",
				"related_resource_types": [{
					"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
					"id": "plugin",
					"related_instance_selections": [{
						"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
						"id": "plugin_view"
					}]
				}],
				"related_actions": [
					"develop_plugin"
				],
				"version": 1
			}
		},
		{
			"operation": "upsert_action",
			"data": {
				"id": "edit_plugin",
				"name": "编辑插件信息",
				"name_en": "Edit Plugin Info",
				"type": "delete",
				"related_resource_types": [{
					"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
					"id": "plugin",
					"related_instance_selections": [{
						"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
						"id": "plugin_view"
					}]
				}],
				"related_actions": [
					"develop_plugin"
				],
				"version": 1
			}
		},
		{
			"operation": "upsert_action",
			"data": {
				"id": "delete_plugin",
				"name": "删除插件",
				"name_en": "Delete Plugin",
				"type": "delete",
				"related_resource_types": [{
					"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
					"id": "plugin",
					"related_instance_selections": [{
						"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
						"id": "plugin_view"
					}]
				}],
				"related_actions": [
					"develop_plugin",
					"edit_plugin"
				],
				"version": 1
			}
		},
		{
			"operation": "upsert_action",
			"data": {
				"id": "manage_members",
				"name": "成员管理",
				"name_en": "Manage Members",
				"type": "manage",
				"related_resource_types": [{
					"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
					"id": "plugin",
					"related_instance_selections": [{
						"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
						"id": "plugin_view"
					}]
				}],
				"related_actions": [
					"develop_plugin",
					"edit_plugin"
				],
				"version": 1
			}
		},
		{
			"operation": "upsert_action",
			"data": {
				"id": "manage_visibility",
				"name": "可见范围管理",
				"name_en": "Manage Visibility",
				"type": "manage",
				"related_resource_types": [{
					"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
					"id": "plugin",
					"related_instance_selections": [{
						"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
						"id": "plugin_view"
					}]
				}],
				"related_actions": [
					"develop_plugin",
					"edit_plugin"
				],
				"version": 1
			}
		},
		{
			"operation": "upsert_action",
			"data": {
				"id": "manage_configuration",
				"name": "插件配置管理",
				"name_en": "Manage Plugin Configuration",
				"type": "manage",
				"related_resource_types": [{
					"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
					"id": "plugin",
					"related_instance_selections": [{
						"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
						"id": "plugin_view"
					}]
				}],
				"related_actions": [
					"develop_plugin"
				],
				"version": 1
			}
		}
	]
}