[importlinter]
root_packages = 
    paasng
    paas_wl
include_external_packages = True

# **TODO**: 
#   - Write contracts for paas_wl package
#   - Write contracts between paasng and paas_wl packages
#   # Fix (most of) the "ignore_imports"
# 
# Below packages are not excluded from contracts them will introduces too many errors, 
# the dependencies around these modules is too complicated at this moment. The plan is
# to fix this in the near future.
# 
# paasng.platform.modules
# paasng.platform.applications
# paasng.engine
# paasng.dev_resources.sourcectl
# paasng.dev_resources.templates

[importlinter:contract:layers-main]
name=the main layers
type=layers
layers = 
    # Platform admin system is the highest level
    paasng.plat_admin 
    paasng.extensions.bk_plugins 
    paasng.accessories.bk_lesscode | paasng.extensions.smart_app | paasng.extensions.scene_app
    paasng.accessories.search | paasng.ci | paasng.cnative | paasng.dev_resources.cloudapi |  paasng.extensions.declarative | paasng.platform.environments
    paasng.dev_resources.servicehub
    paasng.accessories.documentation | paasng.accessories.paas_analysis | paasng.accessories.smart_advisor | paasng.platform.operations
    paasng.dev_resources.services | paasng.publish | paasng.service_proxy | paasng.platform.log 
    paasng.accessories.bk_components | paasng.accounts.permissions | paasng.accessories.log_search | paasng.accessories.bkmonitorv3
    paasng.accessories.iam 
    paasng.accounts.models
    paasng.accounts.oauth | paasng.platform.feature_flags
    paasng.platform.region | paasng.platform.core | paasng.accessories.changelog


[importlinter:contract:layers-engine]
name=the layers for paasng.engine mod
type=layers
layers =
    deploy | streaming
    workflow | processes
    mobile_config | phases_steps 
    utils
    configurations
    models
containers=
    paasng.engine
ignore_imports =
    # TODO: Remove these rules after the dependency relations are fixed.
    paasng.engine.models.base -> paasng.engine.utils.output


[importlinter:contract:independent-apps]
name=main independent modules
type=independence
modules =
    paasng.metrics
    paasng.tracing


[importlinter:contract:layers-paas-wl]
name=the layers for paas_wl module
type=layers
layers = 
    # -- The admin layer
    paas_wl.admin | paas_wl.platform.system_api
    # -- The domain services layer
    paas_wl.deploy
    paas_wl.monitoring
    paas_wl.workloads.processes
    paas_wl.cnative
    paas_wl.tracing | paas_wl.networking | paas_wl.configuration | paas_wl.release_controller | paas_wl.workloads.images
    paas_wl.workloads.autoscaling
    paas_wl.core
    # -- The infrastructure and data models layer
    paas_wl.resources | paas_wl.workloads.resource_templates
    paas_wl.cluster
    paas_wl.platform.applications
    # -- The utils layer
    paas_wl.utils
ignore_imports =
    # Depend on the "constants" submodule is excluded because "constants" is treated like
    # a shared settings globally.
    paas_wl.** -> paas_wl.**.constants
    # view_enduser -> engine.deploy module, to be removed in the future if we find a better way
    paas_wl.cnative.specs.views_enduser -> paasng.engine.deploy.release.operator


[importlinter:contract:layers-paas-wl-resources]
name=the layers for paas_wl.resources module
type=layers
layers = 
    kube_res
    generation
    utils
    base
containers=
    paas_wl.resources