{% extends "./base.html" %}

{% load admin_utils %}

{% block main_content %}
<div id="audit-operations-wrapper">
    <!--  操作详情弹窗  -->
    <bk-dialog header-position="left" v-model="detailVisible" theme="primary" width="1000">
        <div slot="header">操作详情</div>
        <bk-form>
            <bk-container flex :col="2">
                <bk-row>
                    <bk-col :span="1">
                        <bk-form-item label="操作类型">
                            <bk-input v-model="detailData.operation" :readonly="true" placeholder="--"></bk-input>
                        </bk-form-item>
                    </bk-col>
                    <bk-col :span="1">
                        <bk-form-item label="状态">
                            <bk-input v-model="detailData.result_type" :readonly="true" placeholder="--"></bk-input>
                        </bk-form-item>
                    </bk-col>
                </bk-row>
                <bk-row>
                    <bk-col :span="1">
                        <bk-form-item label="操作对象">
                            <bk-input v-model="detailData.target" :readonly="true" placeholder="--"></bk-input>
                        </bk-form-item>
                    </bk-col>
                    <bk-col :span="1">
                        <bk-form-item label="对象属性">
                            <bk-input v-model="detailData.attribute" :readonly="true" placeholder="--"></bk-input>
                        </bk-form-item>
                    </bk-col>
                </bk-row>
                <bk-row>
                    <bk-col :span="1">
                        <bk-form-item label="操作人">
                            <bk-input v-model="detailData.operator" :readonly="true" placeholder="--"></bk-input>
                        </bk-form-item>
                    </bk-col>
                    <bk-col :span="1">
                        <bk-form-item label="操作方式">
                            <bk-input v-model="detailData.access_type" :readonly="true" placeholder="--"></bk-input>
                        </bk-form-item>
                        </bk-col>
                </bk-row>
                <bk-row>
                    <bk-col :span="1">
                        <bk-form-item label="操作时间">
                            <bk-input v-model="detailData.at" :readonly="true" placeholder="--"></bk-input>
                        </bk-form-item>
                    </bk-col>
                </bk-row>
                <bk-row>
                    <bk-col :span="1">
                        <bk-form-item label="操作前"></bk-form-item>
                    </bk-col>
                    <bk-col :span="1">
                        <bk-form-item label="操作后"></bk-form-item>
                    </bk-col>
                </bk-row>
                <template>
                    <bk-diff :old-content="detailData.data_before" :new-content="detailData.data_after" :format="'side-by-side'" language="json"></bk-diff>
                </template>
            </bk-container>
        </bk-form>
    </bk-dialog>

    <!--  操作审计 Table  -->
    <bk-table class="mt15" :data="audit_records">
        <bk-table-column label="操作类型">
            <template slot-scope="props">
                <span>$[ getOperationType(props.row.operation) ]</span>
            </template>
        </bk-table-column>
        <bk-table-column label="操作对象">
            <template slot-scope="props">
                <span>$[ getTargetType(props.row.target) ]</span>
            </template>
        </bk-table-column>
        <bk-table-column label="对象属性">
            <template slot-scope="props">
                <span>$[ props.row.attribute || '--' ] </span>
            </template>
        </bk-table-column>
        <bk-table-column label="操作时间">
            <template slot-scope="props">
                <span>$[ props.row.at ]</span>
            </template>
        </bk-table-column>
        <bk-table-column label="状态">
            <template slot-scope="props">
                <span>$[ getResultType(props.row.result_code) ]</span>
            </template>
        </bk-table-column>
        <bk-table-column label="操作人" prop="operator">
            <template slot-scope="props">
                <span>$[ props.row.operator ]</span>
            </template>
        </bk-table-column>
        <bk-table-column label="操作">
            <template slot-scope="props">
                <bk-button class="ml5" theme="primary" text @click="showDetailDialog(props.row.uuid)">详情</button>
            </template>
        </bk-table-column>
    </bk-table>
    <pagination
        class="mt15"
        :current.sync="pagination.curPage"
        :limit="pagination.limit"
        :count="pagination.count"
        :align="'right'"
    />
</div>
{% endblock %}

{% block main_script %}
<script type="text/javascript" charset="utf-8">
    var URLRouter = {
        detail: decodeURI("{% url 'admin.audit.detail' '${id}' %}"),
    }

    const result_types = {{ result_types | to_json }}

    const access_types = {{ access_types | to_json }}

    const operation_types = {{ operation_types | to_json }}

    const target_types = {{ target_types | to_json }}

    const audit_records = {{ audit_records | to_json }}

    const pagination = {{ pagination | to_json }}

    const getResultType = function (value) {
        for(key of Object.keys(result_types)){
            if(key === String(value)){
                return result_types[key]
            }
        }
    }

    const getAccessType = function (value) {
        for(key of Object.keys(access_types)){
            if(key === String(value)){
                return access_types[key]
            }
        }
    }

    const getOperationType = function (value) {
        for(key of Object.keys(operation_types)){
            if(key === String(value)){
                return operation_types[key]
            }
        }
    }

    const getTargetType = function (value) {
        for(key of Object.keys(target_types)){
            if(key === String(value)){
                return target_types[key]
            }
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        new Vue({
            el: "#audit-operations-wrapper",
            delimiters: ['$[', ']'],
            data: function () {
                return {
                    loading: false,
                    loaded: false,
                    detailVisible: false,
                    audit_records: audit_records,
                    detailData: {
                        operation: '',
                        result_type: '',
                        target: '',
                        attribute: '',
                        operator: '',
                        access_type: '',
                        data_before: '',
                        data_after: '',
                    },
                    result_types,
                    access_types,
                    pagination: pagination,
                }
            },
            methods: {
                showDetailDialog: async function (id) {
                    const el = this.$bkLoading({title: '加载中'});
                    const url = URLRouter.detail.replace('${id}', id);
                    try {
                        await this.$http.get(url).then(res => {
                            this.detailData = res;
                            this.detailData.result_type = getResultType(res.result_code);
                            this.detailData.access_type = getAccessType(res.access_type);
                            this.detailData.target = getTargetType(res.target);
                            this.detailData.operation = getOperationType(res.operation);
                            if (res.data_before) {
                                res.data_before.data = this.sortObjectKeys(res.data_before.data);
                                this.detailData.data_before = JSON.stringify(res.data_before.data, null, 4);
                            }
                            if (res.data_after) {
                                res.data_after.data = this.sortObjectKeys(res.data_after.data);
                                this.detailData.data_after = JSON.stringify(res.data_after.data, null, 4);
                            }
                        });
                    } catch (e) {
                        this.$bkMessage({
                            theme: 'error',
                            message: e.response.data.detail,
                        });
                    } finally {
                        el.hide = true;
                        this.detailVisible = true;
                    }
                },
                sortObjectKeys: function(obj) {
                    if (Array.isArray(obj)) {
                        return obj.map(this.sortObjectKeys);
                    } else if (obj !== null && typeof obj === 'object') {
                        const sortedObj = {};
                        Object.keys(obj).sort().forEach(key => {
                            sortedObj[key] = this.sortObjectKeys(obj[key]);
                        });
                        return sortedObj;
                    }
                    return obj;
                },
                getResultType,
                getAccessType,
                getTargetType,
                getOperationType,
            }
        })
    })
</script>
<style>
    .bk-grid-row + .bk-grid-row {
        margin-top: 20px;
    }
</style>
{% endblock %}
