{
  "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
  "operations": [
    {
      "operation": "upsert_action",
      "data": {
        "id": "view_basic_info",
        "name": "基础信息查看",
        "name_en": "View Basic Info",
        "auth_type": "rbac",
        "type": "view",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "edit_basic_info",
        "name": "基础信息编辑",
        "name_en": "Edit Basic Info",
        "auth_type": "rbac",
        "type": "edit",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "delete_application",
        "name": "应用删除",
        "name_en": "Delete Application",
        "auth_type": "rbac",
        "type": "delete",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info",
          "edit_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "manage_members",
        "name": "成员管理",
        "name_en": "Manage Members",
        "auth_type": "rbac",
        "type": "manage",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info",
          "edit_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "manage_access_control",
        "name": "访问控制管理",
        "name_en": "Manage Access Control",
        "auth_type": "rbac",
        "type": "manage",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info",
          "edit_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "manage_app_market",
        "name": "应用市场管理",
        "name_en": "Manage App Market",
        "auth_type": "rbac",
        "type": "manage",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info",
          "edit_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "data_statistics",
        "name": "数据统计",
        "name_en": "Data Statistics",
        "auth_type": "rbac",
        "type": "manage",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "basic_develop",
        "name": "基础开发",
        "name_en": "Basic Develop",
        "auth_type": "rbac",
        "type": "",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "manage_cloud_api",
        "name": "云 API 管理",
        "name_en": "Manage Cloud API",
        "auth_type": "rbac",
        "type": "manage",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "view_alert_records",
        "name": "告警记录查看",
        "name_en": "View Alert Record",
        "auth_type": "rbac",
        "type": "view",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "edit_alert_policy",
        "name": "告警策略配置",
        "name_en": "Edit Alert Policy",
        "auth_type": "rbac",
        "type": "manage",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info",
          "view_alert_records"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "manage_addons_services",
        "name": "增强服务管理",
        "name_en": "Manage Addons Services",
        "auth_type": "rbac",
        "type": "manage",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "manage_env_protection",
        "name": "部署环境限制管理",
        "name_en": "Manage Env Protection",
        "auth_type": "rbac",
        "type": "manage",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info"
        ],
        "version": 1
      }
    },
    {
      "operation": "upsert_action",
      "data": {
        "id": "manage_module",
        "name": "模块管理",
        "name_en": "Manage Module",
        "auth_type": "rbac",
        "type": "manage",
        "related_resource_types": [
          {
            "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
            "id": "application",
            "related_instance_selections": [
              {
                "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
                "id": "application_list",
                "ignore_iam_path": true
              }
            ]
          }
        ],
        "related_actions": [
          "view_basic_info"
        ],
        "version": 1
      }
    }
  ]
}
