{
  "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
  "operations": [
    {
      "operation": "upsert_common_actions",
      "data": [
        {
          "name": "应用管理员",
          "name_en": "Application Administrator",
          "actions": [
            {
              "id": "view_basic_info"
            },
            {
              "id": "edit_basic_info"
            },
            {
              "id": "delete_application"
            },
            {
              "id": "manage_members"
            },
            {
              "id": "manage_access_control"
            },
            {
              "id": "manage_app_market"
            },
            {
              "id": "data_statistics"
            },
            {
              "id": "basic_develop"
            },
            {
              "id": "manage_cloud_api"
            },
            {
              "id": "view_alert_records"
            },
            {
              "id": "edit_alert_policy"
            },
            {
              "id": "manage_addons_services"
            },
            {
              "id": "manage_env_protection"
            },
            {
              "id": "manage_module"
            }
          ]
        },
        {
          "name": "应用开发者",
          "name_en": "Application Developer",
          "actions": [
            {
              "id": "view_basic_info"
            },
            {
              "id": "data_statistics"
            },
            {
              "id": "basic_develop"
            },
            {
              "id": "manage_cloud_api"
            },
            {
              "id": "view_alert_records"
            },
            {
              "id": "edit_alert_policy"
            }
          ]
        },
        {
          "name": "应用运营者",
          "name_en": "Application Operator",
          "actions": [
            {
              "id": "view_basic_info"
            },
            {
              "id": "edit_basic_info"
            },
            {
              "id": "manage_access_control"
            },
            {
              "id": "manage_app_market"
            },
            {
              "id": "data_statistics"
            },
            {
              "id": "view_alert_records"
            }
          ]
        }
      ]
    }
  ]
}
