{
  "system_id": "{{ IAM_PAAS_V3_SYSTEM_ID }}",
  "operations": [
    {
      "operation": "upsert_resource_creator_actions",
      "data": {
        "config": [
          {
            "id": "application",
            "actions": [
              {
                "id": "view_basic_info",
                "required": true
              },
              {
                "id": "edit_basic_info",
                "required": false
              },
              {
                "id": "delete_application",
                "required": false
              },
              {
                "id": "manage_members",
                "required": false
              },
              {
                "id": "manage_access_control",
                "required": false
              },
              {
                "id": "manage_app_market",
                "required": false
              },
              {
                "id": "data_statistics",
                "required": false
              },
              {
                "id": "basic_develop",
                "required": false
              },
              {
                "id": "manage_cloud_api",
                "required": false
              },
              {
                "id": "view_alert_records",
                "required": false
              },
              {
                "id": "edit_alert_policy",
                "required": false
              },
              {
                "id": "manage_addons_services",
                "required": false
              },
              {
                "id": "manage_env_protection",
                "required": false
              },
              {
                "id": "manage_module",
                "required": false
              }
            ]
          }
        ]
      }
    }
  ]
}
