@charset "UTF-8";

/*MagicBox 组件兼容自定义公共样式*/
/*tab start*/
.paas-custom-tab-card-grid {
  .bk-tab-header {
    height: 42px !important;
    background-image: none !important;
    background: #f5f7fa;
    .bk-tab-label-list {
      border: none !important;
      .bk-tab-label-item {
        line-height: 42px !important;
        border: none;
        border-radius: 4px 4px 0 0;
        background: #eaebf0;
        margin-right: 8px;
        &.active {
          background: #fff;
        }
        &.is-first {
          border-left: none !important;
        }
      }
    }
  }
  .bk-tab-section {
    border: none;
    background-color: #fff;
    padding: 16px 40px;
  }
}
/*tab end*/

/*message start*/
/*message 关闭按钮左侧margin调整*/
.custom-message-close-icon-ml5 .bk-message-close i {
  margin-left: 5px !important;
}
/*message end*/
