@charset "UTF-8";

/*MagicBox 组件兼容自定义公共样式*/
/*tab start*/
.paas-custom-tab-card-grid {
  .bk-tab-header {
    height: 42px !important;
    background-image: none !important;
    background: #f5f7fa;
    .bk-tab-label-list {
      border: none !important;
      .bk-tab-label-item {
        line-height: 42px !important;
        border: none;
        border-radius: 4px 4px 0 0;
        background: #eaebf0;
        margin-right: 8px;
        &.active {
          background: #fff;
        }
        &.is-first {
          border-left: none !important;
        }
      }
    }
  }
  .bk-tab-section {
    border: none;
    background-color: #fff;
    padding: 16px 40px;
  }
}
/*tab end*/

/*message start*/
/*message 关闭按钮左侧margin调整*/
.custom-message-close-icon-ml5 .bk-message-close i {
  margin-left: 5px !important;
}
/*message end*/

/*bk-input 暗色配置 start*/
.paas-custom-input-dark-cls {
  input {
    background: #1a1a1a;
    border-color: #979ba5;
    color: #c4c6cc;
  }
  .bk-form-input:focus {
    background: #1a1a1a !important;
  }
  .bk-form-input[disabled] {
    background-color: #6b6b6b !important;
    background: #2e2e2e !important;
    color: #6b6b6b;
  }
  .bk-form-input::placeholder {
    color: #979ba5 !important;
  }
  .bk-form-input:focus::placeholder {
    color: #979ba5 !important;
  }
}
/*bk-input end*/


/*bk-info 删除弹窗公共样式 start*/
.paas-custom-del-info-cls .bk-info-box .bk-dialog-sub-header.has-sub {
  padding: 5px 30px 16px !important;
  font-size: 12px;
  color: #313238;
  .label,
  .tips {
    color: #63656e;
  }
  .tips {
    display: flex;
    align-items: center;
    padding: 0 12px;
    margin-top: 16px;
    height: 46px;
    background: #f5f6fa;
    border-radius: 2px;
  }
}
/*bk-info end*/