/* 全局高频使用的公共样式 */

/* tag 样式 start */
.g-tag-default {
  display: inline-block;
  box-sizing: border-box;
  height: 22px;
  padding: 0 8px;
  font-size: 12px;
  line-height: 22px;
  margin: 2px 0 2px 4px;
  border-radius: 2px;
  color: #63656e;
  background-color: #f0f1f5;
  cursor: default;
}
/* tag 样式 end */
