@charset "UTF-8";
.create-item {
    .source-dir {
        color: red;
        &.error {
            input {
                border: 1px solid #ff3737;
            }
        }
    }
}

.ps-sample-footer {
    .bk-link-text {
        font-size: 12px;
    }
}
