@charset "UTF-8";
@import './components/conf.scss';
@import './components/mixins.scss';
@import './components/reset.scss';
@import './components/base.scss';
@import './components/button.scss';
@import './components/text.scss';
@import './components/form.scss';
@import './components/page.scss';
@import './components/table.scss';
@import './components/date-time.scss';
@import './components/dropdown.scss';
@import './components/alert.scss';
@import './components/layout.scss';
@import './components/state.scss';
@import './components/patch.scss';
@import './components/label.scss';
@import './components/card.scss';
@import './components/guide.scss';
@import './components/tab.scss';
@import './components/accordion.scss';
@import './components/other.scss';
@import './components/flex.scss';
@import './pages/main.scss';
@import './pages/overview.scss';
@import './pages/service.scss';
@import './mixins/ellipsis.scss';
@import './global-styles.scss';

@font-face {
    font-family: 'PingFang';
    src: url('/static/font/PingFang Light_0.eot');
    src:
        url('/static/font/PingFang Light_0.eot?#font-spider') format('embedded-opentype'),
        url('/static/font/PingFang Light_0.woff') format('woff'),
        url('/static/font/PingFang Light_0.ttf') format('truetype'),
        url('/static/font/PingFang Light_0.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*复用样式 start*/
.overview-text-slide a.on {
    color: #3A84FF;
    background: rgba(242, 247, 255, 1);
}

.middle h4 {
    font-size: 16px;
    color: #5d6075;
    line-height: 26px;
    padding: 15px 0;
    line-height: 1;
}

.bnone,
.middle.bnone {
    border-bottom: none;
}

span.ellipsis {
    float: left;
    color: #666666;
    margin-right: 5px;
    line-height: 36px;
}

.service-ex-img.ex {
    border: none;
}

/*复用样式 end*/

/*paas-content*/
.paas-content {
    width: 100%;
    background: #fafafa;
}

.paas-content.white {
    background: #ffffff;
}

.paas-content-boxpanel {
    width: 100%;
    overflow: hidden;
    padding: 36px 0 0 0;
}

.paas-operation-section {
    padding: 0 10px;
    float: left;
    line-height: 38px;
    position: relative;
}

.section-button {
    color: #5bd18b;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    width: 44px;
    padding: 0 12px;
    background: #eefaf3;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.section-button:hover {
    color: #4fb377;
    background: #e6f2eb;
}

.disabledBox .section-button:hover {
    color: #4fb377;
    background: #eefaf3;
}

.section-button img {
    padding-left: 6px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

.open .section-button {
    background: #fff;
    color: #666666;
    text-align: left;
    padding: 0 12px;
    display: block;
    width: 74px;
}

.open .section-button img {
    position: absolute;
    top: 14px;
    right: 12px;
}


.bk-table .cell {
    -webkit-box-orient: vertical;
}

/*人员选择器focus边框样式覆盖默认*/
.peripheral .section-box.focusStyle {
    border: none;
}

.mark-info-tab-cls {
    .bk-tab-section {
        display: none;
    }
}

.paas-info-app-name-cls {
    .bk-form-input {
        padding-left: 25px;
    }
}

.tagSelect .section-button-down {
    max-height: 240px;
    overflow-y: scroll;
}

.prodEnv .peripheral .section-button-down {
    border-top: 0;
}

/* 应用迁移 start */
.paas-roll-back-info-cls {
    .bk-dialog-content {
        width: 420px !important;
    }
}
/* 应用迁移 end */

/*部署管理 start*/
.environment-list {
    padding-top: 16px;
    overflow: hidden;
    border-bottom: solid 1px #e6e9ea;
}

.environment-list a {
    width: 50%;
    line-height: 34px;
    height: 34px;
    text-align: center;
    font-size: 16px;
    color: #5d6075;
    float: left;
    border-bottom: solid 3px #ffffff;
}

.environment-list a.active {
    border-bottom: solid 3px #3A84FF;
    color: #3A84FF;
    cursor: default;
}

.env-var-upload-btn-cls {
    span {
        border-bottom: 1px solid #3a84ff;
    }
}


.paas-cost-box {
    .bk-form-input {
        height: 26px;
        border-top: none !important;
        border-left: none !important;
        border-right: none !important;
    }
}

.paas-module-manager-switch-cls {
    .bk-dialog-content {
        width: 420px !important;
    }
}

/*MagicBox start*/
.service-ex h2.magicbox-h2 {
    font-weight: normal;
    position: relative;
    top: -5px;
    padding-bottom: 0;
}

.magicbox-p {
    font-size: 12px;
    color: #6f717b;
    line-height: 20px;
    width: 625px;
}

.service-try {
    padding: 0 20px;
}

/*MagicBox end*/

.paas-loading-panel,
.ps-no-result {
    width: 100%;
    height: 200px;
    text-align: center;
    overflow-x: hidden;
    font-size: 14px;
    color: #999;
    display: table;
    margin: 0 auto;
}

.right-main-plugin{
    width: 100% !important;
}

.paas-loading-panel .text,
.ps-no-result .text {
    display: table-cell;
    vertical-align: middle;
    height: 200px;
}

.paas-loading-panel .text p,
.ps-no-result .text p {
    line-height: 24px;
}

.prodEnv .open .section-box {
    box-shadow: none;
}

.editable .bk-data-wrapper {
    padding: 4px 5px 0 5px;
    min-height: 30px;
}

.editable .bk-data-wrapper:focus {
    border: 1px solid red;
}

.editable .bk-data-item {
    margin: 0 5px 4px;
}

.editable .bk-data-item:empty,
.histable .bk-data-item:empty {
    display: none;
}

.result-table-content .text {
    text-align: center;
    padding: 30px 0;
}

/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/
.history-table .slideDown-content::-webkit-scrollbar,
.creating::-webkit-scrollbar,
.textarea::-webkit-scrollbar,
.overview-slidedown ul::-webkit-scrollbar,
.tagSelect .section-button-down::-webkit-scrollbar,
.installList::-webkit-scrollbar {
    width: 4px;
    background-color: #ffffff;
}

/*定义滚动条的轨道，内阴影及圆角*/
.history-table .slideDown-content::-webkit-scrollbar-track,
.creating::-webkit-scrollbar-track,
.textarea::-webkit-scrollbar-track,
.overview-slidedown ul::-webkit-scrollbar-track,
.tagSelect .section-button-down::-webkit-scrollbar-track,
.installList::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

/*定义滑块，内阴影及圆角*/
.history-table .slideDown-content::-webkit-scrollbar-thumb,
.creating::-webkit-scrollbar-thumb,
.textarea::-webkit-scrollbar-thumb,
.overview-slidedown ul::-webkit-scrollbar-thumb,
.tagSelect .section-button-down::-webkit-scrollbar-thumb,
.installList::-webkit-scrollbar-thumb {
    height: 58px;
    border-radius: 2px;
    background-color: #e6e9ea;
}

.fadeIn {
    animation: fadeIn .35s;
}

.fadeInDown {
    animation: fadeInDown .35s;
}

.vex.vex-theme-default .vex-content {
    border-radius: 2px !important;
}

.ps-form-title {
    width: 100%;
    display: inline-block;
    font-size: 22px;
    color: #333;
    text-align: center;
    line-height: 34px;
    padding-bottom: 15px;
}

.ps-form-group+.ps-form-group {
    margin: 16px 20px;
}

.ps-form-group+.ps-form-button {
    margin: 20px 20px 0
}

.ps-form-group+.ps-form-text {
    margin: 0 20px 10px;
}

.ps-form-group>label {
    text-align: right;
}

.ps-switcher-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 13px;

    &:before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 10;
        margin: auto;
        cursor: pointer;
    }
}

.ps-form-input {
    width: 100%;
}

.ps-form-text {
    line-height: 24px;
    font-size: 14px;
    color: #666;
    padding: 5px 5px 0 5px;
}

.ps-form-button {
    margin-left: 0px;
    margin-right: 0px;
    text-align: right;
    padding: 1em 0 0 0;
    border-top: solid 1px #e5e5e5;
}

.ps-btn-primary-ghost {
    span {
        color: #7b7d8a;
    }

    &:hover {
        span {
            color: #ffffff;
        }
    }
}

.ps-btn-width {
    width: 80px;

    &.ps-btn-primary {
        margin-right: 10px;
    }
}

.bk-member-selector {
    box-sizing: border-box;
}

.bk-selector-input.placeholder {
    font-size: 12px;
}

.bk-selector .bk-selector-list>ul {
    max-height: 210px !important;
}

.ps-nav-dropdown {
    width: 240px;
    z-index: 999;

    &.drop-target {
        width: 59px;
    }

    .nav-dropdown {
        box-sizing: content-box;
    }

    .toggle-switch {
        position: absolute;
        width: 59px;
        height: 60px;
        right: 0;
        top: -60px;
        cursor: pointer;
    }
}

.ps-header-dropdown {
    z-index: 9999;

    .drop-content {
        box-shadow: 0px 0px 5px #e5e5e5;
    }
}

.ps-action-header {
    overflow: hidden;

    .icon-wrapper {
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 20px;
        color: #fff;
        margin-right: 12px;
        background-color: #DCDEE5;
        display: inline-block;
        text-align: center;
        border-radius: 2px;

        &.active {
            background-color: #2DCB56;
        }
    }

    .title {
        color: #313238;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 3px;
    }

    .tip {
        font-size: 12px;
        color: #979BA5;
    }
}

.ps-top-card {
    .main-title {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 5px;
        color: #313238;
        line-height: 1;
    }

    .desc {
        font-size: 12px;
        color: #979BA5;
    }
}

.ps-tip-block {
    padding: 13px 15px 13px 43px;
    border-radius: 2px;
    position: relative;

    &.is-danger {
        background-color: #FFEDED;
        border: 1px solid #FD9C9C;
        &::after {
            content: "\e160";
            color: #FF5656;
        }
    }

    &.is-success {
        background-color: #EAFFED;
        border: 1px solid #45E35F;
        &::after {
            content: "\e157";
            color: #2DCB56;
        }
    }

    &.is-primary {
        background-color: #F0F8FF;
        border: 1px solid #A3C5FD;
        &::after {
            content: "\e157";
            color: #3A84FF;
        }
    }

    &::after {
        font-family: 'paasng' !important;
        position: absolute;
        left: 15px;
        top: 13px;
        font-size: 18px;
    }

    .title {
        font-size: 14px;
        color: #63656E;
        font-weight: bold;
    }

    .content {
        p {
            font-size: 14px;
            color: #63656E;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        span {
            display: inline-block;
            min-width: 180px;
        }
    }
}
// 环境变量tooltips样式覆盖
.env-var-popover {
    .tippy-tooltip {
        white-space: normal;
        word-break: break-all;
        word-wrap: break-word;
    }
}
// 单据审批 .bk-table-expand-icon 样式覆盖
.order-approve-wrapper {
    .bk-table-expand-icon {
        width: 40px !important;
    }
}

// 我的告警 .bk-table-row-last 样式覆盖
.alarm-list-table {
    .bk-table-row-last {
        td {
            border-bottom: none !important;
        }
    }
}

// 我的告警 .bk-loading-wrapper 样式覆盖
.paas-monitor-table {
    .bk-loading .bk-loading-wrapper {
        top: 30% !important;
    }
}

// 模块管理 设置主模块弹窗样式 覆盖

.set-main-module-dialog {
    .bk-dialog-wrapper .bk-dialog-header {
        padding-bottom: 11px;
    }
    .bk-dialog-wrapper .bk-dialog-body {
        padding-bottom: 14px;
    }
}

// 部署日志样式 覆盖
.paas-deploy-log-full-screen-cls {
    .bk-dialog-content {
        background-color: #2a2b2f;
    }
    .bk-dialog-tool {
        display: none;
    }
    .bk-dialog-body {
        padding: 0 !important;
        overflow: hidden !important;
    }
}
.paas-deploy-log-stage-wrapper {
    .log-item {
        span {
            font-weight: normal !important;
            &:first-child {
                min-width: 150px;
            }
        }
    }
}

.paas-deploy-failed-btn {
    background-color: transparent !important;
    &:hover {
        background-color: #ea3636 !important;
        border-color: #ea3636 !important;
    }
}

.paas-deploy-interrupt-btn {
    background-color: transparent !important;
    &:hover {
        background-color: #ff9c01 !important;
        border-color: #ff9c01 !important;
    }
}

.paas-deploy-success-btn {
    background-color: transparent !important;
    &:hover {
        background-color: #2dcb56 !important;
        border-color: #2dcb56 !important;
    }
}

.paas-log-box {
    background: #2A2B2F;
    padding: 20px;
    color: #FFF;
    line-height: 20px;
    font-size: 12px;
    overflow: auto;
    flex: 1;

    &::-webkit-scrollbar {
        width: 4px;
        background-color: lighten(transparent, 80%);
    }
    &::-webkit-scrollbar-thumb {
        height: 5px;
        border-radius: 2px;
        background-color: #63656e;
    }
}

// 应用开发 基本信息 bk-input 样式更改
.basic-info-form {
    padding-left: 10px !important;
    .bk-form-input {
        height: 42px;
        font-size: 14px;
    }

    .bk-form-input {
        padding-right: 100px;
        background-color: #fff !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-bottom: 1px solid #dcdee5 !important;
        color: #63656e;
    }

    .bk-form-input[readonly] {
        padding-right: 100px;
        background-color: #fff !important;
        border-top: none !important;
        border-right: none !important;
        border-left: none !important;
        border-bottom: 1px solid #dcdee5 !important;
        color: #63656e;
    }
}

.ps-special-form.bk-form.bk-inline-form {
    width: 100%;

    .bk-form-item {
        float: left;
        margin-left: -1px;
    }

    .bk-form-content {
        width: 100%;
    }

    .bk-select.is-disabled {
        background-color: #FAFBFD;
        border: 1px solid #DCDEE5;
        color: #63656E;
    }

    .bk-form-input {
        height: 42px;
        font-size: 14px;
        border-radius: 0 2px 2px 0;
        padding-right: 130px;
        &:focus {
            cursor: text;
        }
    }

    .bk-form-input[readonly] {
        background-color: #FAFBFD !important;
        border-color: #DCDEE5 !important;
    }

    .bk-select {
        height: 42px;
    }

    .bk-select.is-focus {
        position: relative;
        z-index: 1;
    }

    .bk-select .bk-select-name {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .bk-select .bk-select-angle {
        top: 10px;
    }

    .action-box {
        width: 130px;
        height: 42px;
        line-height: 44px;
        text-align: right;
        padding-right: 13px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;

        .paasng-icon {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            color: #979BA5;
            cursor: pointer;

            &:hover {
                color: #3A84FF;
            }
        }

        .bk-button-text {
            height: 42px;
        }
    }
}

.ps-module-title {
    .title {
        font-size: 14px;
        color: #313238;
        font-weight: bold;
    }
}

.ps-top-bar {
    position: relative;
    font-size: 14px;
    color: #333;
    background: #FFF;
    box-shadow: 0 3px 4px 0 #0000000a;
    line-height: 52px;
    z-index: 1;

    .header-title,
    h2 {
        font-size: 16px;
        // max-width: $maxContentWidth;
        margin: auto;
        position: relative;
        // border-bottom: 1px solid #e6e9ea;

        &.box-shadow {
            box-shadow: 0 3px 4px 0 #0000000a;
        }
    }

    .top-title.box-shadow {
        box-shadow: 0 3px 4px 0 #0000000a;
    }

    .guide-wrapper {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.ps-tips {
    position: absolute;
    left: 50%;
    top: 150px;
    margin-left: -285px;
    font-size: 18px;
}
.ps-tips-en {
    margin-left: -510px;
}

.ps-container,
.app-container {
    min-height: 200px;
    margin: 0px 24px 30px 24px;
    padding-top: 16px;
    // max-width: $maxContentWidth;
    // background: #FFF;
}

.overview-fright-plugin .app-container {
    max-width: calc(100% - 48px) !important;
}

.card-style {
    background: #fff;
    box-shadow: 0 2px 4px 0 #1919290d;
    border-radius: 2px;
}

.info-special-form.bk-form.bk-inline-form {
    width: 100%;

    .bk-form-item:first-child {
        margin-right: -1px;
    }

    .bk-form-item {
        margin-left: 0;
        float: left;
    }

    .bk-form-content {
        width: 100%;
    }

    .bk-select.is-disabled {
        background-color: #fafbfd;
        border: 1px solid #dcdee5;
        color: #63656E;
    }

    .bk-form-input {
        height: 42px;
        font-size: 14px;
        border-radius: 0 2px 2px 0;
        padding-right: 130px;
        &:focus {
            cursor: text;
        }
    }

    .bk-form-input[readonly] {
        background-color: #fff !important;
        border-color: #dcdee5 !important;
    }

    .bk-select {
        height: 42px;
    }

    .bk-select.is-focus {
        position: relative;
        z-index: 1;
    }

    .bk-select .bk-select-name {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }

    .bk-select .bk-select-angle {
        top: 10px;
    }

    .action-box {
        width: 130px;
        height: 42px;
        line-height: 44px;
        text-align: right;
        padding-right: 13px;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 2;

        .paasng-icon {
            width: 30px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            font-size: 16px;
            color: #979ba5;
            cursor: pointer;

            &:hover {
                color: #3a84ff;
            }
        }

        .bk-button-text {
            height: 42px;
        }
    }
}

.ps-field-checkbox {
    .bk-checkbox-text {
        max-width: 140px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}

.ps-no-result {
    font-size: 12px;
    color: #63656e;
    .paasng-empty {
        color: #c3cdd7;
        font-size: 65px;
    }
}

.ps-app-detail,
.ps-service-detail {
    .ps-sample-footer {
        width: calc(100% - 240px) !important;
        position: absolute;
        left: 240px;
        bottom: 0;
    }
}

#app .paasng-icon {
    font-family: paasng !important;
}

.ps-history-list {
    .bk-table-row {
        cursor: pointer;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-72px);
    }

    100% {
        opacity: 1;
        transform: translateY(-80px);
    }
}

@media screen and (max-width: 2560px) {
    .ps-top-bar {
        .header-title,
        h2 {
            // max-width: 1180px;
        }
    }
    .overview-fright-plugin .ps-top-bar
        .header-title {
            max-width: none;
            margin: 0 60px;
        }
    // .ps-container,
    // .app-container {
    //     max-width: 1180px;
    // }
}

@media screen and (max-width: 1680px) {
    .ps-top-bar {
        .header-title,
        h2 {
            // max-width: 1080px;
        }
    }
    // .app-container {
    //     max-width: 1080px;
    // }

    // .right-main-plugin{
    //     width: 85vw !important;
    // }
}

@media screen and (max-width: 1440px) {
    .ps-top-bar {
        .header-title,
        h2 {
            // max-width: 980px;
        }
    }
    .ps-container,
    .app-container {
        // max-width: 980px;
    }
}

@media screen and (max-width: 1100px) {
    .right-main-release {
        width: calc(100% - 200px) !important;
    }
    .container {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1px;
    padding-right: 1px;
}

@media (min-width: 768px) {
    .container {
        width: 722px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 942px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1142px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 1px;
    padding-right: 1px;
}

.log-main .log-fields .field-list .bk-form-checkbox {
    display: block;
    margin-bottom: 15px;
    margin-left: 0;
}

.bk-dialog-footer {
    button:nth-of-type(2) {
        color: #63656e;
        margin-left: 10px;
    }
}

.shadow-card-style {
    box-shadow: 0 2px 4px 0 #1919290d;
    border-radius: 2px;
}

.info-card-style {
    padding: 24px;
    border-radius: 2px;
    background: #fff;
    box-shadow: 0 2px 4px 0 #1919290d;
}
    
.mr8 {
    margin-right: 8px;
}
