{
	"system_id": "{{ IAM_PLUGINS_CENTER_SYSTEM_ID }}",
	"operations": [{
		"operation": "upsert_action_groups",
		"data": [{
			"name": "插件",
			"name_en": "Plugin",
			"sub_groups": [{
					"name": "插件开发",
					"name_en": "Application Development",
					"actions": [{
							"id": "basic_development"
						},
						{
							"id": "release_version"
						},
						{
							"id": "manage_configuration"
						}
					]
				},
				{
					"name": "插件管理",
					"name_en": "Application Management",
					"actions": [{
							"id": "edit_plugin"
						},
						{
							"id": "delete_plugin"
						},
						{
							"id": "manage_members"
						},
						{
							"id": "manage_visibility"
						}
					]
				}
			]
		}]
	}]
}